{%- unless section_color -%}
  {%- assign section_color = 'primary' -%}
{%- endunless -%}

{% unless article.image == blank %}
  <a href="{{ article.url  }}" class="color--{{ section_color }}-text ">
    {% render 'responsive-image' with
      image: article.image,
      max_width: 2000,
      max_height: 2000,
      section_color: section_color,
    %}
  </a>
{% endunless %}

<div class="seven-eighths pm--three-quarters pt2 {% if settings.list_and_grid_align %}mx--auto{% else %}pl1 lg--up--pl2 {% endif %} t--list-and-grid">
  {% if blog_page %}

    <p class="f--heading m0 mt2 font-size--xl line-height--5 lg--up--font-size--xxl lg--up--line-height--8">
      <a href="{{ article.url }}" class="block hv--{{ section_color }}-accent  color--{{ section_color }}-text">{{ article.title }}</a>
    </p>

    {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}

    {% if show_author or show_date %}
    <p class="color--meta m0 mt1  font-size__basic">{% if show_author %}{{ 'blogs.article.by_author' | t: author: article.author }}{% if show_date %}<br/>{% endif %}{% endif %}{% if show_date %}{{  date }}{% endif %}</p>
    {% endif %}

    {% if show_excerpt %}
    <div class="rte  font-size__basic mt2 line-height--3">
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt }}
      {% else %}
        <p>
          {{ article.content | strip_html | truncatewords: 20 }}
        </p>
      {% endif %}
    </div>
    {% endif %}

    {% if blog.comments_enabled?  %}
      <ul class=" list--reset font-size__basic">
        {% if blog.comments_enabled? %}
          <li>
            <a class="color--{{ section_color }}-text hv--border-bottom--{{ section_color }}-text" href="{{ article.url }}#comments">
              {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
            </a>
          </li>
        {% endif %}

      </ul>
    {% endif %}

    {% if show_tags %}
    {% if article.tags.size > 0 %}
      <ul class=" list--reset  font-size__basic">
        {% if article.tags.size > 0 %}
          {% for tag in article.tags %}
            <li class="inline-block">
              <a class="color--{{ section_color }}-text hv--border-bottom--{{ section_color }}-text" href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    {% endif %}
    {% endif %}

    {% if show_link %}
    <p class=" font-size__basic">
      <a href="{{ article.url }}" class="inline-block color--{{ section_color }}-text border-bottom--{{ section_color }}-text hover-underline--{{ section_color }}"><span class="align--middle">{{ 'blogs.article.read_more' | t }}</span> <span class="font-size--xxxs align--middle inline-block">{% render 'icon-next' %}</span></a>
    </p>
    {% endif %}

  {% else %}
    <p class="color--{{ section_color }}-text m0 mt2 font-size__basic">{{ article.title }}</p>
  {% endif %}
  
</div>
