{%- unless section_color -%}
  {%- assign section_color = 'primary' -%}
{%- endunless -%}

<a href="{{ article.url  }}" class="block t--list-and-grid">

  {% unless article.image == blank %}

    {%- assign ratio = article.image.aspect_ratio -%}
    {%- assign force_crop = false -%}
    {%- if ratio < 0.5 -%}
      {%- assign force_crop = true -%}
      {%- assign ratio = 1 -%}
    {%- endif -%}

    {% render 'responsive-image',
      image: article.image,
      max_width: 2000,
      max_height: 2000,
      section_color: section_color,
      responsive_image_counter: forloop.index,
    %}

  {% endunless %}

  {% if blog_page %}

    <p class="f--heading color--{{ section_color }}-text m0 {% unless article.image == blank %}mt2{% endunless %} font-size--ml lg--up--font-size--l">{{ article.title }}</p>

    {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}

    {% if show_author or show_date %}
    <p class="color--meta m0 mt1 font-size--sm">{% if show_author %}{{ 'blogs.article.by_author' | t: author: article.author }}<br/>{% endif %}{% if show_date %}{{  date }}{% endif %}</p>
    {% endif %}

    {% if show_excerpt %}
    <div class="rte font-size--sm mt2 line-height--3">
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt }}
      {% else %}
        <p>
          {{ article.content | strip_html | truncatewords: 20 }}
        </p>
      {% endif %}
    </div>
    {% endif %}

    {% if blog.comments_enabled?  %}
      <ul class=" list--reset font-size--sm t--list-and-grid">
        {% if blog.comments_enabled? %}
          <li>
            <a href="{{ article.url }}#comments">
              {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
            </a>
          </li>
        {% endif %}
      </ul>
    {% endif %}

    {% if show_tags %}
    {% if article.tags.size > 0 %}
      <ul class=" list--reset font-size--sm t--list-and-grid">
        {% if article.tags.size > 0 %}
          {% for tag in article.tags %}
            <li class="inline-block">
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    {% endif %}
    {% endif %}

    {% if show_link %}
    <p class="font-size--sm t--list-and-grid">
      <a href="{{ article.url }}" class="inline-block"><span class="align--middle">{{ 'blogs.article.read_more' | t }}</span> <span class="font-size--xxxs align--middle inline-block">{% render 'icon-next' %}</span></a>
    </p>
    {% endif %}

  {% else %}
    <p class="color--{{ section_color }}-text m0 {% unless article.image == blank %}mt2{% endunless %} font-size__basic">{{ article.title }}</p>
  {% endif %}

</a>