{%- assign section_color = section.settings.color_scheme -%}
{%- assign font_size = 'font-size__basic' -%}

<section class="cascade section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}" {% if settings.fade_in_items %}data-fade-in="true"{% endif %} data-first-item="{{ section.settings.first_item }}">
  <div class="max-site-width px2 lg--up--px3">
    <div class="cascading-content">
      <div class="items overflow--hidden">
        <div class="item-sizer"></div>
        <div class="column-sizer"></div>

        {%- assign col_count_desktop = '' -%}
        {%- assign col_count_mobile = '' -%}

        {%- for block in section.blocks -%}

          {%- assign first_col_desktop = false -%}
          {%- assign first_col_mobile = false -%}

          {%- assign block_width_mobile = block.settings.block_width_mobile -%}
          {%- assign block_width_desktop = block.settings.block_width -%}

          {%- if block.type == 'product_feature' or block.type == 'section_break' -%}
            {%- assign block_width_mobile = 'full' -%}
            {%- assign block_width_desktop = 'full' -%}
          {%- endif -%}


          {% comment %}
          First check if it's the first post of the loop and it isn't full width %}
          {% endcomment %}
          {%- if forloop.first and block_width_desktop == 'half' -%}
            {%- assign first_col_desktop = true -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if forloop.first and block_width_mobile == 'half' -%}
            {%- assign first_col_mobile = true -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}

          {% comment %}
          Now check to see if last block is full width, and this block isn't.
          {% endcomment %}
          {%- if last_block_width_desktop == 'full' and block_width_desktop == 'half' -%}
            {%- assign first_col_desktop = true -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if last_block_width_mobile == 'full' and block_width_mobile == 'half' -%}
            {%- assign first_col_mobile = true -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}


          {% comment %}
          Assign class for last item
          {% endcomment %}
          {%- if forloop.last -%}
            {%- assign last_col = true -%}
          {%- endif -%}

          <div
            class="item {% if block.type == 'section_break' %}item--section-break{% endif %} item--desktop--{{ block_width_desktop }} item--mobile--{{ block_width_mobile }} item--{{ block.id }} {% if forloop.first %}item--first{% endif %} {% if first_col_desktop %}first-col--desktop{% endif %} {% if first_col_mobile %}first-col--mobile{% endif %} {% if last_col %}item--last{% endif %} {% if settings.fade_in_items %}fade-in{% endif %}"
            data-width="{{ block_width_desktop }}"
            data-block-id="{{ block.id }}"
            >
            <div class="item__inner {% if block_width_mobile == 'full' %}five-sixths mx--auto{% endif %} {% if block_width_desktop == 'full' %}lg--up--five-sixths lg--up--mx--auto{% else %}lg--up--one-whole{% endif %}" {{ block.shopify_attributes }}>

              {% comment %}
              /* ============================================================================
                Image
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'image' %}
                {% if block.settings.url %}
                  <a href="{{ block.settings.url }}" class="block">
                {% endif %}
                {% if block.settings.image %}
                  {% assign image = block.settings.image %}
                  {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
                  <div class="image-holder {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                    {% render 'responsive-image' with
                      image: image,
                      max_width: 2000,
                      max_height: 2000,
                      section_color: section_color,
                    %}
                  </div>
                {% else %}
                  <div class="onboarding-image">
                    <div class="placeholder-img-wrapper bg--{{ section_color }}-placeholder">
                      <div style="padding-top:{% cycle '66.6', '133.33', '100' %}%;" class="relative">
                        {{ 'image' | placeholder_svg_tag }}
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if block.settings.url %}
                </a>
                {% endif %}
              {% endif %}

              {% comment %}
              /* ============================================================================
                Image with Text
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'image_text_overlay' %}
                {% assign heading = block.settings.heading %}
                {% assign cta_text = block.settings.cta_text %}
                {% assign cta_url = block.settings.cta_url %}
                {% assign local_color = block.settings.section_color %}
                <div class="image-with-text__container relative  {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                  <div class="image-with-text__image">
                    {% assign image = block.settings.image %}
                    {% if image %}
                      <div class="image-holder">
                        {% render 'responsive-image' with
                          image: image,
                          max_width: 2000,
                          max_height: 2000,
                          section_color: section_color
                        %}
                      </div>
                    {% else %}
                      <div class="onboarding-image bg--{{ section_color }}-placeholder color--border">
                        <span class="opacity--1">{{ 'image' | placeholder_svg_tag }}</span>
                      </div>
                    {% endif %}
                  </div>
                  <div class="image-with-text__content absolute full top--0 left--0 p1 z1">
                    {% if cta_url != blank %}
                    <a href="{{ cta_url }}" class="block full color--{{ section_color }}-text">
                    {% endif %}
                      <div class="table full">
                        <div class="table-cell text-align--center align--middle">
                          <div class="inline-block  align--middle">
                            {% if block_width_mobile == 'full' %}
                              {% assign heading_class = 'font-size__heading-mobile-full' %}
                            {% else %}
                              {% assign heading_class = 'font-size__heading-mobile-half' %}
                            {% endif %}
                            {% if heading != blank %}
                            <h2 class=" m0 {{ heading_class }} color--{{ local_color }}-text">{{ heading }}</h2>
                            {% endif %}
                            {% if cta_text != blank %}
                              <p class="{% if block_width_mobile == 'half' %}sm--hide{% endif %} m0 lg--up--mt1 inline-block {{ font_size }} link-underline f--accent color--{{ local_color }}-text border-bottom--{{ local_color }}-text hv--{{ local_color }}-accent hv--border-bottom--{{ local_color }}-accent" href="" target="_blank" >
                                {{ cta_text }}
                              </p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% if cta_url != blank %}
                    </a>
                    {% endif %}

                  </div>
                </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Video
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'video' %}
                <div class="video-holder {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                  {% if block.settings.video_url %}
                    {% if block.settings.video_url.type == 'youtube' %}
                      {% capture image_url_mq %}//img.youtube.com/vi/{{ block.settings.video_url.id }}/mqdefault.jpg{% endcapture %}
                      {% if block.settings.use_high_res_image %}
                      {% capture image_url_max %}//img.youtube.com/vi/{{ block.settings.video_url.id }}/maxresdefault.jpg{% endcapture %}
                      {% else %}
                      {% capture image_url_max %}//img.youtube.com/vi/{{ block.settings.video_url.id }}/hqdefault.jpg{% endcapture %}
                      {% endif %}
                      <div class="responsive-image__wrapper overflow--visible js">
                        <div style="padding-top: 56.25%;">
                          <img alt="{{ 'general.accessibility.media.video_thumbnail' | t }}"
                               class="responsive-image__image lazyload"
                               data-srcset="{{ image_url_mq }} 320w,
                                            {{ image_url_max }}"
                               data-sizes="auto"
                               >
                        </div>
                        <a href="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?autoplay=1&showinfo=0&controls=1"
                           class="absolute top--0 left--0 full pointer z1"
                           role="button"
                           tabindex="0"
                           aria-label="{{ 'general.accessibility.media.launch_video_player' | t }}"
                           data-video-modaal>
                          <div class="full flex items--center justify--center color--white-text font-size--xl md--up--font-size--xxl lg--up--font-size--xxxxxl">
                            {% render 'icon-play' %}
                          </div>
                        </a>
                      </div>
                      <noscript>
                        <img src="{{ image_url_max }}">
                      </noscript>
                    {% endif %}
                    {% if block.settings.video_url.type == 'vimeo' %}
                      <div class="responsive-image__wrapper overflow--visible js">
                        <div style="padding-top: 56.25%;">
                          <img class="responsive-image__image vimeo-thumbnail"
                               data-src=""
                               data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048, 4472]"
                               data-aspectratio="{{ image.aspect_ratio }}"
                               data-sizes="auto"
                               data-vimeo-id='{{ block.settings.video_url.id }}'
                               data-vimeo-thumb>
                        </div>
                        <a href="https://player.vimeo.com/video/{{ block.settings.video_url.id }}?autoplay=1%color={{ settings.color_primary }}&title=0&byline=0"
                           role="button"
                           tabindex="0"
                           aria-label="{{ 'general.accessibility.media.launch_video_player' | t }}"
                           class="absolute top--0 left--0 full pointer z1"
                           data-video-modaal>
                          <div class="full flex items--center justify--center color--white-text font-size--xl md--up--font-size--xxl lg--up--font-size--xxxxxl">
                            {% render 'icon-play' %}
                          </div>
                        </a>
                      </div>
                    {% endif %}
                  {% else %}
                    <div class="responsive-image__wrapper overflow--visible js">
                      <div style="padding-top: 56.25%;">
                       <div class="placeholder-img-wrapper bg--{{ section_color }}-placeholder absolute top--0 right--0 left--0 bottom--0">
                         <div style="padding-top:56.25%;" class="relative">
                            {{ 'lifestyle-1' | placeholder_svg_tag }}
                         </div>
                       </div>
                      </div>
                      <div class="absolute top--0 left--0 full pointer z1">
                        <div class="full flex items--center justify--center color--white font-size--xl md--up--font-size--xxl lg--up--font-size--xxxxxl">
                          {% render 'icon-play' %}
                        </div>
                      </div>
                    </div>
                    <noscript>
                      <img src="{{ image_url_max }}">
                    </noscript>
                  {% endif %}
                </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Rich Text
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'rich_text' or block.type == 'heading' or block.type == 'text' %}
              <div class="rich-text rich-text--{{ block.id }} {{ block.settings.text_align}}">
                <div class="seven-eighths mx--auto pm--three-quarters wd--two-thirds">
                  {% if block.settings.heading != blank   %}
                    {% if block_width_mobile == 'full' %}
                      {% assign heading_class = 'font-size__heading-mobile-full' %}
                    {% else %}
                      {% assign heading_class = 'font-size__heading-mobile-half' %}
                    {% endif %}
                    {% if block.type == 'heading' and block.settings.font_size == 'large' %}
                      {% if block_width_mobile == 'full' %}
                        {% assign heading_class = 'f--heading font-size--xxxl line-height--8 pm--font-size--xxxxxl md--up--font-size--xxxxxl pm--line-height--11 wd--font-size--xxxxxxl wd--line-height--13' %}
                      {% else %}
                        {% assign heading_class = 'f--heading font-size--xxl line-height--7 pm--font-size--xxxxl  md--up--font-size--xxxxxl pm--line-height--11 wd--font-size--xxxxxxl wd--line-height--13' %}
                      {% endif %}
                    {% endif %}
                    <h2 class=" m0 {{ heading_class }}">
                      {{ block.settings.heading }}
                    </h2>
                  {% endif %}
                  {% if block.settings.rich_text != blank  %}
                  <div class="richtext {{ font_size }} {% if block.settings.heading != blank %}mt2{% endif %}">
                    {{ block.settings.rich_text }}
                  </div>
                  {% endif %}
                  {% if block.settings.cta_url != blank %}
                  <a class="inline-block homepage-more-link  {{ font_size }}  f--accent link-underline--{{ section_color }} hover-underline--{{ section_color }}" href="{{ block.settings.cta_url }}" >
                    {{ block.settings.cta_text }}
                  </a>
                  {% endif %}
                </div>
              </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Custom HTML
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'custom_html' %}
              <div class="custom-html custom-html--{{ block.id }}">
                <div class="seven-eighths mx--auto pm--three-quarters wd--two-thirds">
                  {% if block.settings.html != blank  %}
                  <div">
                    {{ block.settings.html }}
                  </div>
                  {% endif %}

                </div>
              </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Collection
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'collection' %}
                {% assign local_color = block.settings.text_color %}
                {% if block.settings.collection and block.settings.collection != '' %}
                  {% assign collection = collections[block.settings.collection] %}
                  {% if collection.image %}
                    {% assign image = collection.image  %}
                  {% else %}
                    {% for product in collection.products limit:1 %}
                      {% assign image = product.featured_image.src  %}
                    {% endfor %}
                  {% endif %}
                  <div class="image-with-text__container relative  {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                    <div class="image-with-text__image">

                      {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
                      <div class="image-holder">
                        {% render 'responsive-image' with
                          image: image,
                          max_width: 2000,
                          max_height: 2000,
                          section_color: section_color
                        %}
                      </div>
                    </div>
                    <div class="image-with-text__content absolute full top--0 left--0 p1 z1">
                      <a href="{{ collection.url }}" class="block full">
                        <div class="table full">
                          <div class="table-cell text-align--center align--middle">
                            <div class="inline-block  align--middle">
                              {% if block_width_mobile == 'full' %}
                                {% assign heading_class = 'font-size__heading-mobile-full' %}
                              {% else %}
                                {% assign heading_class = 'font-size__heading-mobile-half' %}
                              {% endif %}
                              <h2 class=" m0 {{ heading_class }} color--{{ local_color }}-text">{{ collection.title }}</h2>
                              {% if block.settings.show_collection_link %}
                                <p class="{% if block_width_mobile == 'half' %}sm--hide{% endif %} m0 lg--up--mt1 inline-block {{ font_size }} link-underline f--accent color--{{ local_color }}-text border-bottom--{{ local_color }}-text hv--{{ local_color }}-accent hv--border-bottom--{{ local_color }}-accent" href="" target="_blank" >
                                  {{ block.settings.cta_text }}
                                </p>
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                {% else %}
                  {%- render 'cascade__collection-placeholder',
                              local_color: local_color,
                              section_color: section_color,
                              text_position: 'over',
                              block_width_mobile: block.settings.block_width_mobile,
                  -%}
                {% endif %}
              {% endif %}


              {% comment %}
              /* ============================================================================
                Article
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'article' %}
                {% assign local_color = block.settings.text_color %}
                {% if block.settings.article and block.settings.article != '' %}
                  {% assign article = articles[block.settings.article] %}
                  <div class="grid">
                    <div class="grid__item {% if block_width_desktop == 'full' %}lg--up--four-sevenths{% endif %}">
                      <a href="{{ article.url  }}">
                      {% if article.image %}
                        {% assign image = article.image %}
                        <div class="image-holder">
                          {% render 'responsive-image' with
                            image: image,
                            max_width: 2000,
                            max_height: 2000,
                            section_color: section_color
                          %}
                        </div>
                      {% endif %}
                      </a>
                    </div>
                    <div class="grid__item {% if block_width_desktop == 'full' %}lg--up--three-sevenths lg--up--pt3{% endif %}">
                      <div class="seven-eighths pm--three-quarters {% if settings.list_and_grid_align %}mx--auto{% else %}pl1 lg--up--pl2 {% endif %} t--list-and-grid">
                        <a href="{{ article.url  }}"  class="color--{{ section_color }}-text">

                          {% if block_width_mobile == 'full' %}
                            {% assign heading_class = 'font-size__heading-mobile-full' %}
                          {% else %}
                            {% assign heading_class = 'font-size__heading-mobile-half' %}
                          {% endif %}
                          <h2 class=" m0 {{ heading_class }} {% if article.image %}mt2 pm--mt3{% endif %}">
                            {{ article.title }}
                          </h2>

                          <div class="mt1 lg--up--mt2 {{ font_size }}">
                            {% if block.settings.show_excerpt %}
                            {% if article.excerpt.size > 0 %}
                              {{ article.excerpt }}
                            {% else %}
                              {{ article.content | strip_html | truncatewords: 20 }}
                            {% endif %}
                            {% endif %}
                          </div>

                          <p class="mt1 lg--up--mt2 inline-block {{ font_size }} f--accent link-underline--{{ section_color }} hover-underline--{{ section_color }}" target="_blank" >
                            {{ 'blogs.article.read_more' | t }}
                          </p>

                        </a>
                      </div>
                    </div>
                  </div>
                {% else %}
                  {%- render 'cascade__article-placeholder',
                              block_width_desktop: block_width_desktop,
                              section_color: section_color,
                  -%}
                {% endif %}
              {% endif %}


              {% comment %}
              /* ============================================================================
                Product - Simple
              ============================================================================== *
              {% endcomment %}
              {% if block.type == 'product_simple' %}
              <div class="product product--{{ block.id }} {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                {%- assign product = all_products[block.settings.product] -%}
                {% if product == empty %}
                  {%- render 'product-grid-item__onboarding',
                              section_color: section_color,
                  -%}
                {% else %}
                  {% assign feature_product = true %}
                  {%- render 'product-grid-item',
                      product: product,
                      section_color: section_color,
                      feature_product: feature_product,
                  -%}
                {% endif %}
              </div>
              {% endif %}

              {% comment %}
              /* ============================================================================
                Product - Feature
              ============================================================================== *
              {% endcomment %}

              {% if block.type == 'product_feature' %}
              <div class="product product--{{ block.id }}">
                {%- assign product = all_products[block.settings.product] -%}
                {%- assign current_variant = product.selected_or_first_available_variant -%}
                {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
                {%- assign hide_drop_down_labels = block.settings.hide_drop_down_labels -%}
                {%- assign show_quantity = block.settings.show_quantity -%}
                {%- assign enable_payment_button = block.settings.enable_payment_button -%}
                {%- assign enable_video_looping = block.settings.enable_video_looping %}
                {%- assign section_id = block.id -%}
                {% capture module_id %}section-{{ section.id }}-block-{{ block.id }}-{{ product.id }}{% endcapture %}

                <section data-module-id="{{ module_id }}" data-product-block data-product-feature="true">
                  {% assign feature_product = true %}
                  {% if product == empty %}
                    {%- render 'product__onboarding',
                        block: block,
                        section_color: section_color
                    -%}
                  {% else %}
                    {% assign section_id = block.id %}
                    {%- render 'product__top-section',
                        product: product,
                        feature_product: feature_product,
                        current_variant: current_variant,
                        featured_media: featured_media,
                        hide_drop_down_labels: hide_drop_down_labels,
                        show_quantity: show_quantity,
                        enable_payment_button: enable_payment_button,
                        enable_video_looping: enable_video_looping,
                        module_id: module_id,
                        section_color: section_color,
                        inside_cascade_section: true
                    -%}
                    <script type="application/json" data-product-json>
                      {{ product | json }}
                    </script>
                    <script type="application/json" id="ModelJson-{{ block.id }}">
                      {{ product.media | where: 'media_type', 'model' | json }}
                    </script>
                    <script type="application/ld+json">
                    {
                      "@context": "http://schema.org/",
                      "@type": "Product",
                      "name": {{ product.title | json }},
                      "url": {{ shop.url | append: product.url | json }},
                      {%- if product.featured_media -%}
                        {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
                        "image": [
                          {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
                        ],
                      {%- endif -%}
                      "description": {{ product.description | strip_html | json }},
                      {%- if current_variant.sku != blank -%}
                        "sku": {{ current_variant.sku | json }},
                      {%- endif -%}
                      "brand": {
                        "@type": "Thing",
                        "name": {{ product.vendor | json }}
                      },
                      "offers": [
                        {%- for variant in product.variants -%}
                          {
                            "@type" : "Offer",
                            {%- if variant.sku != blank -%}
                              "sku": {{ variant.sku | json }},
                            {%- endif -%}
                            "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                            "price" : {{ variant.price | divided_by: 100.00 | json }},
                            "priceCurrency" : {{ cart.currency.iso_code | json }},
                            "url" : {{ shop.url | append: variant.url | json }}
                          }{% unless forloop.last %},{% endunless %}
                        {%- endfor -%}
                      ]
                    }
                    </script>
                  {% endif %}
                </section>
              </div>
              {% endif %}

            </div>
          </div>

          {%- assign last_block_width_desktop = block_width_desktop -%}
          {%- assign last_block_width_mobile = block_width_mobile -%}
          {%- if block_width_desktop == 'half' -%}
            {%- assign col_count_desktop = col_count_desktop | plus: 1 -%}
          {% endif %}

          {%- if block_width_mobile == 'half' -%}
            {%- assign col_count_mobile = col_count_mobile | plus: 1 -%}
          {% endif %}

          {%- if col_count_desktop == 5 -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif -%}

          {%- if col_count_mobile == 5 -%}
            {%- assign col_count_mobile = 1 -%}
          {%- endif -%}

        {%- endfor -%}

      </div>
    </div>
  </div>
</section>