<div class="grid">
  <div class="grid__item {% if block_width_desktop == 'full' %}lg--up--four-sevenths{% endif %}">
    <div class="placeholder-img-wrapper bg--{{ section_color }}-placeholder">
      <div style="padding-top:{% cycle '66.6', '133.33', '100' %}%;" class="relative">
        {{ 'image' | placeholder_svg_tag }}
      </div>
    </div>
  </div>
  <div class="grid__item {% if block_width_desktop == 'full' %}lg--up--three-sevenths lg--up--pt3{% endif %}">
    {% if block.settings.block_width_mobile == 'full' %}
      {% assign heading_class = 'font-size__heading-mobile-full' %}
    {% else %}
      {% assign heading_class = 'font-size__heading-mobile-half' %}
    {% endif %}
    <h2 class=" m0 {{ heading_class }} mt2 pm--mt3">
      {{ 'homepage.onboarding.blog_title' | t }}
    </h2>
    <p class="mt1 lg--up--mt2 inline-block {{ font_size }}  f--accent link-underline--{{ section_color }}  hover-underline--{{ section_color }} " href="" target="_blank" >
      {{ 'blogs.article.read_more' | t }}
    </p>
  </div>
</div>


