
<div class="image-with-text__container relative  {% if col_count_mobile == 2 or col_count_mobile == 3 %}seven-eighths mx--auto{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
  <div class="image-with-text__image">
    {% assign image_ratio = block.settings.image.aspect_ratio  | plus: 0 %}
    <div class="image-holder bg--{{ section_color }}-placeholder">
      <div class="onboarding-image opacity--1">{{ 'collection-1' | placeholder_svg_tag }}</div>
    </div>
  </div>
  {% if text_position == 'over' %}
    <div class="image-with-text__content absolute full top--0 left--0 p1">
      <a  class="block full">
        <div class="table full">
          <div class="table-cell text-align--center align--middle">
            <div class="inline-block  align--middle">
              {% if block.settings.block_width_mobile == 'full' %}
                {% assign heading_class = 'font-size__heading-mobile-full' %}
              {% else %}
                {% assign heading_class = 'font-size__heading-mobile-half' %}
              {% endif %}
              <h3 class="m0 {{ heading_class }} color--{{ local_color }}-text">
                {{ 'homepage.onboarding.collection_title' | t }}
              </h3>
              {% if show_cta %}
                <p class="{% if block.settings.block_width_mobile == 'half' %}sm--hide{% endif %} m0 lg--up--mt1 inline-block {{ font_size }} link-underline f--accent color--{{ local_color }}-text border-bottom--{{ local_color }}-text" href="" target="_blank" >
                  {{ cta_text }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </div>
  {% else %}
    <div class="image-with-text__content  full top--0 left--0  p1 pt2 lg-up--pt3">
      <a  class="block full">
        <div class="table full">
          <div class="table-cell text-align--center align--middle">
            <div class="inline-block  align--middle">

              {% if block.settings.block_width_mobile == 'full' %}
                {% assign heading_class = 'font-size__heading-mobile-full' %}
              {% else %}
                {% assign heading_class = 'font-size__heading-mobile-half' %}
              {% endif %}
              <h2 class=" m0 {{ heading_class }} color--{{ local_color }}-text">
                {{ 'homepage.onboarding.collection_title' | t }}
              </h2>
              {% if show_cta %}
                <p class="{% if block.settings.block_width_mobile == 'half' %}sm--hide{% endif %} mt1 inline-block {{ font_size }} link-underline f--accent color--{{ local_color }}-text border-bottom--{{ local_color }}-text" href="" target="_blank" >
                  {{ cta_text }}
                </p>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </div>
  {% endif %}
</div>