{%- liquid
  unless type
    assign type = 'horizontal'
  endunless

  unless off_canvas
    assign off_canvas = 'left-sidebar'
  endunless

  unless overlap_parent
    assign overlap_parent = 0
  endunless

  unless js_class
    assign js_class = 'FrameworkXMenu'
  endunless

  unless handle
    assign handle = 'main-menu'
  endunless

  unless view
    assign view = 'cart'
  endunless
-%}

<nav
  class="x-menu"
  data-js-class="{{ js_class }}"
  data-item="nav-text"
  data-x-menu--align="{{ align }}"
  data-x-menu--overlap="false"
  data-x-menu--overlap-parent="{{ overlap_parent }}"
  role="navigation"
  aria-label="{{ 'general.menu' | t }}"
>
  {% unless use_external_icon %}
    <div class="x-menu--overlap-icon">
      <div
        tabindex="0"
        data-off-canvas--open="{{ off_canvas }}"
        data-off-canvas--view="{{ view }}"
        aria-haspopup="menu"
      >
        {% render 'framework--icons', icon: 'menu' %}
      </div>
    </div>
  {% endunless %}

  <ul class="x-menu--level-1--container">

    {% comment %} Level 1 {% endcomment %}
    {% assign list_lvl_1 = handle %}
    {% for link in linklists[list_lvl_1].links %}
      <li
        class="x-menu--level-1--link"
        data-x-menu--depth="{{ link.levels | plus: 1 }}"
        data-x-menu--open="false"
        data-state="closed"
        data-link-id="{{ link.handle }}"
      >
        {% if link.links != blank %}
          <a
            href="{{ link.url }}"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="x-menu--sub-{{ link.handle }}"
          >
            <span>
              {{ link.title }}
            </span>
            {% render 'framework--icons', icon: 'chevron-down' %}
            {% render 'framework--icons', icon: 'chevron-up' %}
          </a>
        {% else %}
          <a href="{{ link.url }}"><span>{{ link.title }}</span></a>
        {% endif %}

          {% comment %} Level 2 {% endcomment %}
          {% if link.links != blank %}
            <div
              class="x-menu--level-2--container"
              id="x-menu--sub-{{ link.handle }}"
              data-js-class="Transition"
            >
              {% comment %}<div class="single-parents"></div> goes here{% endcomment %}
              {% comment %}
                Usually the ul is labeled as a container but this needs a separate container and
                therefor is labeled --list
              {% endcomment %}
              <ul class="x-menu--level-2--list">

                {% assign list_lvl_2 = link.handle %}
                {% for link in linklists[list_lvl_2].links %}

                  <li
                    class="x-menu--level-2--link"
                    data-link-id="{{ list_lvl_2 }}--{{ link.handle }}"
                    {% if link.links == blank %}
                      data-x-menu--single-parent="true"
                    {% endif %}
                  >
                    <a href="{{ link.url }}">{{ link.title }}</a>

                    {% comment %} Level 3 {% endcomment %}

                    {% if link.links != blank %}
                      <ul class="x-menu--level-3--container">

                        {% assign list_lvl_3 = link.handle %}
                        {% for link in linklists[list_lvl_3].links %}
                          <li
                            class="x-menu--level-3--link"
                            data-link-id="{{ list_lvl_2 }}--{{ list_lvl_3 }}--{{ link.handle }}"
                          >
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {% comment %} End Level 3 {% endcomment %}

                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% comment %} End Level 2 {% endcomment %}

      </li>
    {% endfor %}
  </ul>
  {% comment %} End level 1 {% endcomment %}
</nav>

<noscript>
  <style>
    .x-menu--level-1--link:hover .x-menu--level-2--container {
      z-index: 1;
      display: flex;
      opacity: 1;
      height: auto;
    }
  </style>
</noscript>