{%- liquid
  if module_id == blank
    assign module_id = section.id
  endif

  assign form_id = 'form-' | append: module_id
-%}

<div class="{% if product.media.size > 1 and inside_cascade_section != true %}lg--up--seven-eighths{% endif %} mx--auto">
  <div class="grid">


    <div class="grid__item md--up--one-half">
      <div class="product__images relative md--up--text-align--right font-size--0">

        {% if featured_media != blank %}
        {% capture featured_media_class %}one-whole md--up--five-sixths{% endcapture %}
        <div class="product__media-container {{ featured_media_class }} inline-block" {% if product.media.size > 1 and feature_product == false %}data-mobile-flickity{% endif %}>

          <div class="pb3 lg--up--pb0">
            <div class="{% if product.media.size > 1 and feature_product == false %}product-flickity__slides{% endif %}" data-product-single-media-group>
              {% assign image_index = 0 %}
              {%- for media in product.media -%}
                  {%- render 'media',
                      media: media,
                      featured_media: featured_media,
                      image_index: image_index,
                      module_id: module_id,
                      enable_video_looping: enable_video_looping,
                      enable_image_zoom: enable_image_zoom,
                      feature_product: feature_product,
                      section_color: section_color,
                  -%}
                  {% if media.media_type == 'image' %}
                    {% assign image_index = image_index | plus: 1 %}
                  {% endif %}
              {% endfor %}
            </div>
            {% assign first_3d_model = product.media | where: "media_type", "model" | first %}
            {%- if first_3d_model -%}
              <div class="px2 mt1">
                <button
                  aria-label="{{ 'products.product.view_in_space_label' | t }}"
                  class="product-single__view-in-space } bg--transparent color--{{ section_color }}-text border--{{ section_color }}-text hv--{{ section_color }}-accent hv--border--{{ section_color }}-accent p1 full--w block"
                  data-shopify-xr
                  data-shopify-model3d-id="{{ first_3d_model.id }}"
                  data-shopify-title="{{ product.title }}"
                  data-shopify-xr-hidden
                >
                  {% render 'media-badge-model' %}<span class='product-single__view-in-space-text'>{{ 'products.product.view_in_space' | t }}</span>
                </button>
              </div>
            {%- endif -%}
          </div>

          {% if product.media.size > 1 and feature_product == false %}
          <div class="md--up--hide">
            <div class="spacer pt1"></div>
            <div class='mobile-flickity__button-container absolute bottom--0 right--0 pt1 pr2'>
              <button aria-label="{{ 'general.accessibility.slideshows.next_slide' | t }}"
                      class="btn border--none bg--transparent btn--next color--{{ section_color }}-text hv--{{ section_color }}-accent font-size--sm">
                {% render 'icon-next' %}
              </button>
            </div>
          </div>
          {% endif %}

        </div>
        {% endif %}

        {% assign product_thumbnail_grid = 'md--up--one-sixth' %}
        {% if product.media.size > 1 and feature_product == false %}
          <div class="relative overflow--hidden {{ product_thumbnail_grid }} sm--hide md--up--pr2 md--up--absolute md--up--full--h md--up--top--0 md--up--left--0  js" data-product-thumbnails>
            <div class="  product__thumbnails pb3 md--up--mtn2 md--up--flex md--up--flex--column">
              {%- for media in product.media -%}

                {%- assign active_class = '' -%}
                {%- if featured_media == media.src -%}
                  {%- assign active_class = 'active' -%}
                {%- endif -%}
                {%- assign ratio = media.aspect_ratio -%}
                {%- assign force_crop = false -%}
                {%- if ratio < 0.2 -%}
                  {%- assign force_crop = true -%}
                  {%- assign ratio = 1 -%}
                {%- endif -%}

                {%- assign media_url = media.preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                {%- liquid
                  case media.media_type
                    when 'image'
                      assign link_title = 'general.accessibility.media.gallery_thumbnail_title' | t: alt: media.alt
                    when 'video' or 'external_video'
                      assign link_title = 'general.accessibility.media.video_thumbnail_title' | t: alt: media.alt
                    when 'model'
                      assign link_title = 'general.accessibility.media.model_thumbnail_title' | t: alt: media.alt
                    endcase
                -%}
                <div class="md--up--mt2 md--up--flex--auto">
                  <div class="px2 md--up--px0">
                    <a href="{{ media_url }}"
                       class="{% for variant in media.variants %}product-variant--{{ variant.id }} {% endfor %} block cursor--default md--up--pointer {{ active_class }} md--up--border--transparent md--up--active-border--{{ section_color }}-text relative" data-product-single-thumbnail data-aspectratio="{{ 1 | divided_by: ratio | times: 100}}"
                       data-product-image-index="{{ forloop.index0 }}"
                       data-thumbnail-id="{{ module_id }}-{{ media.id }}"
                       title="{{ link_title }}">
                      {% render 'responsive-image' with
                         image: media.preview_image,
                         max_width: 600,
                         max_height: 600,
                         section_color: section_color,
                         module_id: module_id,
                         force_crop: force_crop,
                         ratio: ratio,
                         active_class: active_class,
                         image_id: media.id,
                         responsive_image_counter: forloop.index,
                      %}
                      {% if media.media_type == 'model' %}
                        <div class="media-badge-container absolute top--0 right--0 z1">
                          <div class="media-badge-inner relative">
                            <div class="bg--{{ section_color }}-background color--{{ section_color }}-text relative z1">
                              {% render 'media-badge-model' %}
                            </div>
                            <div class="media-badge-border bg--{{ section_color }}-text absolute top--0 left--0 right--0 bottom--0 z0"></div>
                          </div>
                        </div>
                        {% elsif media.media_type == 'video' or media.media_type == 'external_video' %}
                        <div class="media-badge-container absolute top--0 right--0 z1">
                          <div class="media-badge-inner relative">
                            <div class="bg--{{ section_color }}-background color--{{ section_color }}-text relative z1">
                              {% render 'media-badge-video' %}
                            </div>
                            <div class="media-badge-border bg--{{ section_color }}-text absolute top--0 left--0 right--0 bottom--0 z0"></div>
                          </div>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>
                {% endfor %}
              <div class="thumbnail-overflow thumbnail-overflow--{{ section_color }} z3 sticky bottom--0 sm--hide"
                   data-thumbnail-overflow-indicator></div>
            </div>
          </div>
        {% endif %}

        {% comment %}
        Image zoom
        {% endcomment %}
        {% if section.settings.enable_image_zoom %}
          <div class="product-single__gallery hide" data-product-image-gallery>
            {% for image in product.images %}
              <a href="{{ image.src | img_url: '2048x2048' }}" rel="single-product__gallery" class="single-product__gallery single-product__gallery--{{ image.id }}" data-zoom-item data-image-master-url="{{ image | img_url: 'master' }}" data-image-master-width="{{ image.width }}" data-image-master-height="{{ image.height }}" data-product-image-index="{{ forloop.index }}" data-image-aspect-ratio="{{ image.aspect_ratio }}">Show</a>
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>

    <div class="grid__item md--up--one-half{% if current_variant.unit_price_measurement %} has-unit-price{% endif %}" data-product-description-container>
      <div class="{% unless description_under_add_to_cart %}wd--pt3 lg--up--pl3 wd--pl4 {% endunless %} ">
        <div class="px2 mt3 max-width--1 md--up--pt0 lg--up--px3">

          {%- if feature_product -%}
          <a class="block color--{{ section_color }}-text" href="{{ product.url }}"><h2 class="f--heading font-size__heading m0 mb1">{{ product.title }}</h2></a>
          {%- else -%}
          <h1 class="f--heading f--heading font-size__heading m0 {% unless section.settings.show_vendor and product.vendor != blank %}mb1{% endunless %}">{{ product.title }}</h1>
          {%- endif -%}

          {% if section.settings.show_vendor and product.vendor != blank %}
          <p class="f--body font-size--ml m0 mb1">{{ product.vendor }}</p>
          {% endif %}

          <div class="font-size--ml" data-price-wrapper>
            <span {% if product.compare_at_price_max > product.price %}class="color--{{ section_color }}-accent"{% endif %} data-product-price>
              {{ current_variant.price | money }}
            </span>
            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s class="ml1 inline-block" data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </s>
            {% endif %}
          </div>

          <div class="font-size--s {% if product.compare_at_price_max > product.price %}color--{{ section_color }}-accent{% else %}color--{{ section_color }}-meta{% endif %} mt1" data-unit-price-wrapper>
            <span class="visually-hidden">
              {{- 'products.product.unit_price_label' | t -}}
            </span>
            <span data-unit-price>
              {{- current_variant.unit_price | money -}}
            </span>
            <span aria-hidden="true">
              /
            </span>
            <span class="visually-hidden">
              {{- 'general.accessibility.unit_price_separator' | t -}}
            </span>
            <span data-unit-price-measurement-reference-value>
            {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
              {{- current_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            </span><!--
            --><span data-unit-price-measurement-reference-unit>
              {{- current_variant.unit_price_measurement.reference_unit -}}
            </span>
          </div>

          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
          <div class="font-size--s mt1 mb3">
            {%- if shop.taxes_included -%}
              {{ 'products.product.include_taxes' | t }}
            {%- endif -%}

            {%- if shop.shipping_policy.body != blank -%}
              {%- assign link_class = 'link-underline link-underline--' | append: section_color -%}
              {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url, link_class: link_class }}
            {%- endif -%}
          </div>
          {%- endif -%}

          <div>

            <div id="AddToCartForm--{{ module_id }}" class="form-vertical">
            {% form 'product', product, id: module_id %}

              {{ form | payment_terms }}

              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js mt2 font-size--m">
                    {% unless hide_drop_down_labels %}
                    {% assign option_name_lowercase = option.name | downcase | strip %}
                    <label class="block {% if option_name_lowercase == 'default' %}hide{% endif %}" for="SingleOptionSelector-{{ module_id }}-{{ forloop.index0 }}" >
                      {{ option.name }}
                    </label>
                    {% endunless %}
                    <select
                      class="bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text p1 block full--w font-size--sm mt1"
                      id="SingleOptionSelector-{{ module_id }}-{{ forloop.index0 }}"
                      data-single-option-selector
                      data-index="option{{ option.position }}">
                      {% for value in option.values %}
                        <option
                          value="{{ value | escape }}"
                          {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              {% endunless %}

              <select name="id" class="no-js" data-product-select>
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                      {{ variant.title }}
                  </option>
                {% endfor %}
              </select>

              {% if show_quantity %}
              <div class="mt2 font-size--m flex items--center">
                <div class="pr2">
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                </div>
                <div class="flex--1 js-qty-wrapper color--{{ section_color }}-text">
                  <input class="bg--transparent border--{{ section_color }}-text p1 font-size--sm mt1" type="number" id="Quantity" name="quantity" value="1" min="1">
                </div>
              </div>
              {% endif %}

              {%- liquid
                if product.selling_plan_groups.size > 0
                  assign show_payment_button = false
                else
                  assign show_payment_button = enable_payment_button
                endif
              -%}


              <div class="add-to-cart-container mt3 {% unless current_variant.available %}hide-pay-buttons{% endunless %}  {% if show_payment_button %}cta-content--pay-buttons{% endif %}" data-add-to-cart-container>
                <button
                  class="btn border--none btn--add-to-cart relative color-scheme--{{ section_color }} {% if show_payment_button %}bg--transparent color--{{ section_color }}-text border--{{ section_color }}-text hv--{{ section_color }}-accent hv--border--{{ section_color }}-accent {% else %}border--none bg--{{ section_color }}-text color--{{ section_color }}-text--overlay hover-bg--{{ section_color }}{% endif %} p1 full--w block"
                  type="submit"
                  name="add"
                  id="AddToCart--{{ module_id }}"
                  data-add-to-cart
                  {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                    <span class="add-to-cart-text" data-add-to-cart-text>
                      {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                    {%- unless settings.open_modal_on_add_to_cart  %}
                    <div class="spinner {% if show_payment_button %}color--{{ section_color }}-text{% else %}color--{{ section_color }}-background{% endif %}"></div>
                    {%- endunless -%}
                </button>
                {% if show_payment_button %}
                  <div class="mt2 payment-button-wrapper color--{{ section_color }}">{{ form | payment_button }}</div>
                {% endif %}
              </div>

              {%- unless settings.open_modal_on_add_to_cart -%}
              <div class="font-size__basic hide {% unless show_payment_button %}mt3{% endunless %} {% if show_pickup_availability %}mb3{% endif %}" data-add-to-cart-complete>
                {{ 'products.product.added_to_cart' | t }}!<br/>{{ 'products.product.add_to_cart_confirm_html' | t: cart_url: routes.cart_url, link_url: routes.all_products_collection_url, section_color: section_color }}.
              </div>
              {%- endunless -%}

            {% endform %}
            </div>
          </div>
        </div>

        {% comment %}
          Polite live region, for updating screen readers on variant changes
        {% endcomment %}

        <p class="visually-hidden"
           aria-live="polite"
           role="status"
           data-product-status></p>

        {% comment %}
          Assertive live region, for updating screen readers on add
          to cart status
        {% endcomment %}

        <p class="visually-hidden"
           aria-live="assertive"
           role="alert"
           aria-hidden="true"
           data-add-to-cart-status></p>

        {% if show_pickup_availability %}
        <div class="px2 max-width--1 lg--up--px3 font-size--s {% if show_payment_button %}mt0{% else %}mt3{% endif %}"
             data-product-title="{{ product.title | escape }}"
             data-has-only-default-variant="{{ product.has_only_default_variant }}"
             data-base-url="{{ shop.url }}{{ routes.root_url }}"
             data-section-color="{{ section_color }}"
             data-store-availability>
        </div>
        {% endif %}

        {% if section_page_links.size > 0 %}
        <div class="px2 max-width--2 lg--up--px3 font-size--s mt3">
          {% for section_page_link in section_page_links %}
            {% if section_page_link.settings.page != empty %}
              {% assign link_page = pages[section_page_link.settings.page] %}
              {% if section_page_link.settings.title == blank %}
                {% assign link_title = pages[section_page_link.settings.page].title %}
              {% endif %}
            {% endif %}
            {% if section_page_link.settings.title != blank %}
              {% assign link_title = section_page_link.settings.title %}
            {% endif %}
            <a href="{{ link_page.url }}" class="inline-block mr1 color--{{ section_color }}-text link-underline border-bottom--transparent hv--border-bottom--{{ section_color }}-text">
              <span>{{- link_title -}}</span>
            </a>
          {% endfor %}
        </div>
        {% endif %}

        {% if description_under_add_to_cart or show_share_links %}
        <div class="px2 max-width--2 md--up--pt0 lg--up--px3">
          {% if description_under_add_to_cart %}
            {% if product.description != empty or product.description != '' %}
              <div class="mt3 rte font-size__basic" data-product-description>
                {{ product.description }}
              </div>
            {% endif %}
          {% endif %}

          {% if show_share_links %}
          <div {% unless show_payment_button %}class="mt3"{% endunless %}>
            {% render 'page-share', show_label: true %}
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div> <!-- end grid item -->
  </div> <!-- end grid -->
</div>
