{% assign section_color = 'primary' %}


<section class="page section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background">
  <div class="max-site-width px2 lg--up--px3">

    <div class="max-width--2 lg--up--max-width--4 mx--auto">

      <div class="grid">
        <div class="grid__item lg--up--one-third">

          <h1 class="f--heading font-size__heading">{{ 'customer.account.title' | t }}</h1>

          <p class="font-size__basic"><a href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a></p>

          <h3 class="font-size--m mt3">{{ 'customer.order.billing_address' | t }}</h3>

          <div class="font-size--s">
            <p>{{ 'customer.order.payment_status' | t }}: {{ order.financial_status_label }}</p>
            {{ order.billing_address | format_address }}
          </div>


          <h3 class="font-size--m mt3">{{ 'customer.order.shipping_address' | t }}</h3>

          <div class="font-size--s">
            <p>{{ 'customer.order.fulfillment_status' | t }}: {{ order.fulfillment_status_label }}</p>
            {{ order.shipping_address | format_address }}
          </div>

          {% render 'account__logout' %}

        </div>
        <div class="grid__item lg--up--two-thirds mt3 lg--up--mt0">

            <h2 class="font-size--l m0">{{ 'customer.order.title' | t: name: order.name }}</h2>

            <p class="font-size--s m0 mt1 ">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>

            {% if order.cancelled %}
              {%- assign cancelled_at = order.cancelled_at | date: "%B %d, %Y %I:%M%p" -%}
              <p>{{ 'customer.order.cancelled' | t: date: cancelled_at }}</p>
              <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason }}</p>
            {% endif %}

            <table class="responsive-table full font-size--sm mt3">
              <thead>
                <tr>
                  <th class="text-align--left pb1">{{ 'customer.order.product' | t }}</th>
                  <th class="text-align--left pb1">{{ 'customer.order.sku' | t }}</th>
                  <th class="text-align--left pb1">{{ 'customer.order.price' | t }}</th>
                  <th class="text-align--left pb1">{{ 'customer.order.quantity' | t }}</th>
                  <th class="text-align--right pb1">{{ 'customer.order.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for line_item in order.line_items %}
                  <tr id="{{ line_item.key }}" class="responsive-table-row">
                    <td class="order__line-item__cell align--top align--top" data-label="{{ 'customer.order.product' | t }}">
                      <a class="border-bottom--{{ section_color }}-text" href="{{ line_item.product.url }}">{{ line_item.title }}</a>
                      {%- if line_item.selling_plan_allocation -%}
                        <div class="line-height--1 font-size--xs color--{{ section_color }}-meta">
                          {{- line_item.selling_plan_allocation.selling_plan.name -}}
                        </div>
                      {%- endif -%}

                      {% assign property_size = line_item.properties | size %}
                      {% if property_size > 0 %}
                        {% for p in line_item.properties %}
                          {% assign first_character_in_key = p.first | slice: 0 %}
                          {% unless p.last == blank or first_character_in_key == '_' %}
                            <div class="font-size--xs">
                              {{- p.first -}}:

                              {% comment %}
                                Check if there was an uploaded file associated
                              {% endcomment %}
                              {% if p.last contains '/uploads/' -%}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {%- else -%}
                                {{- p.last -}}
                              {%- endif -%}
                            </div>
                          {% endunless %}
                        {% endfor %}
                      {% endif %}

                      <div>
                      {%- if line_item.line_level_discount_allocations != blank -%}
                        <ul class="list--reset m0 line-height--1 order-discount order-discount--list order-discount--title color--{{ section_color }}-accent mb2"
                            aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                            <li class="order-discount__item">
                              {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                      </div>
                      {% if line_item.fulfillment %}
                        <dl>
                          <dt>{{ 'customer.order.fulfilled_at' | t }}</dt>
                          <dd>{{ line_item.fulfillment.created_at | date: format: 'month_day_year' }}</dd>

                          {% if line_item.fulfillment.tracking_url %}
                            <dt>{{ 'customer.order.tracking_url' | t }}</dt>
                            <dd>
                              <a href="{{ line_item.fulfillment.tracking_url }}">
                                {{ 'customer.order.track_shipment' | t }}
                              </a>
                            </dd>
                          {% endif %}

                          <dt>{{ 'customer.order.tracking_company' | t }}</dt>
                          <dd>{{ line_item.fulfillment.tracking_company }}</dd>

                          {% if line_item.fulfillment.tracking_number %}
                            <dt>{{ 'customer.order.tracking_number' | t }}</dt>
                            <dd>{{ line_item.fulfillment.tracking_number }}</dd>
                          {% endif %}
                        </dl>
                      {% endif %}
                    </td>
                    <td class="order__line-item__cell align--top" data-label="{{ 'customer.order.sku' | t }}">{{ line_item.sku }}</td>
                    <td class="order__line-item__cell align--top" data-label="{{ 'customer.order.price' | t }}">
                      {%- if line_item.original_price != line_item.final_price -%}
                        <del class="cart__price block ">{{ line_item.original_price | money }}</del>
                        <span class="order-discount cart__price color--{{ section_color }}-accent line-height--1 block mb2">{{ line_item.final_price | money }}</span>
                      {%- else -%}
                        <span>{{ line_item.original_price | money }}</span>
                      {%- endif -%}
                      {%- if line_item.unit_price_measurement -%}
                        <div class="line-height--1 font-size--xs{% if line_item.original_price != line_item.final_price %} color--{{ section_color }}-accent{% else %} color--{{ section_color }}-meta{% endif %}">
                          <span class="visually-hidden">
                            {{ 'products.product.unit_price_label' | t }}
                          </span>
                          {{ line_item.unit_price | money }}
                          <span aria-hidden="true">/&nbsp;</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                            {{- line_item.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ line_item.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}
                    </td>
                    <td class="order__line-item__cell align--top" data-label="{{ 'customer.order.quantity' | t }}">{{ line_item.quantity }}</td>
                    <td class="text-align--right order__line-item__cell align--top" data-label="{{ 'customer.order.total' | t }}">
                      {%- if line_item.original_line_price != line_item.final_line_price -%}
                        <del class="cart__price block ">{{ line_item.original_line_price | money }}</del>
                        <span class="order-discount cart__price color--{{ section_color }}-accent line-height--1 block mb2">{{ line_item.final_line_price | money }}</span>
                      {%- else -%}
                        <span>{{ line_item.original_line_price | money }}</span>
                      {%- endif -%}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr class="responsive-table-row">
                  <td colspan="4" class="sm--hide pt3">{{ 'customer.order.subtotal' | t }}</td>
                  <td class="text-align--right pt3"data-label="{{ 'customer.order.subtotal' | t }}">{{ order.line_items_subtotal_price | money }}</td>
                </tr>

                {%- if order.cart_level_discount_applications != blank -%}
                  {% for discount_application in order.cart_level_discount_applications %}
                    <tr>
                      <td colspan="4" class="sm--hide pt1 align--bottom">
                      {{ 'customer.order.discount' | t }}
                      <span class="block color--{{ section_color }}-accent">{{- discount_application.title -}}</span>
                      </td>
                      <td class="text-align--right pt1 color--{{ section_color }}-accent align--bottom" data-label="{{ 'customer.order.discount' | t }}">
                        -{{ discount_application.total_allocated_amount | money }}
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}



                {% for shipping_method in order.shipping_methods %}
                  <tr>
                    <td colspan="4" class="sm--hide pt1">{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</td>
                    <td class="text-align--right pt1" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">{{ shipping_method.price | money }}</td>
                  </tr>
                {% endfor %}

                {% for tax_line in order.tax_lines %}
                  <tr>
                    <td colspan="4" class="sm--hide pt1">{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</td>
                    <td class="text-align--right pt1" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">{{ tax_line.price | money }}</td>
                  </tr>
                {% endfor %}

                <tr>
                  <td colspan="4" class="sm--hide pt1">{{ 'customer.order.total' | t }}</td>
                  <td class="text-align--right pt1" data-label="{{ 'customer.order.total' | t }}">{{ order.total_price | money }} {{ order.currency }}</td>
                </tr>

                {% if order.financial_status == 'refunded' or order.financial_status == 'partially_refunded' %}
                <tr>
                  <td colspan="4" class="sm--hide pt1">{{ 'customer.order.refund_amount' | t }}</td>
                  <td class="text-align--right pt1" data-label="{{ 'customer.order.refund_amount' | t }}">{{ order.total_refunded_amount | money }} {{ order.currency }}</td>
                </tr>
                {% endif %}
              </tfoot>
            </table>

        </div>
      </div>

    </div>
  </div>
</section>


{% comment %}
  The data-label attributes on <td> elements are mobile-friendly
  helpers used for responsive-table labels
{% endcomment %}

