
{% assign section_color = 'primary' %}


<section class="page section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background">
  <div class="max-site-width px2 lg--up--px3">

    <div class="max-width--2 lg--up--max-width--4 mx--auto">

      <div class="grid">
        <div class="grid__item lg--up--one-half">

          <h1 class="f--heading font-size__heading">{{ 'customer.reset_password.title' | t }}</h1>

          <p class="font-size__basic">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

        </div>
        <div class="grid__item lg--up--one-half  mt3 lg--up--mt0 form-reset-password">


          {% form 'reset_customer_password' %}

            {{ form.errors | default_errors }}

            <label for="ResetPassword" class="label-hidden mt2 block">
              {{ 'customer.reset_password.password' | t }}
            </label>
            <input type="password"

              class="block mt1 full--w  px2 py1 bg--transparent border--{{ section_color }}-text"
              name="customer[password]"
              id="ResetPassword"
              class="{% if form.errors contains 'password' %}input-error{% endif %}"
              placeholder="{{ 'customer.reset_password.password' | t }}">

            <label for="PasswordConfirmation" class="label-hidden  mt2 block">
              {{ 'customer.reset_password.password_confirm' | t }}
            </label>
            <input type="password"
              class="block mt1 full--w  px2 py1 bg--transparent border--{{ section_color }}-text"
              name="customer[password_confirmation]"
              id="PasswordConfirmation"
              class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
              placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

            <input type="submit" class="block full--w btn border--none mt3 px2 py1 bg--{{ section_color }}-text color--{{ section_color }}-text--overlay lg--up--two-thirds" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}

        </div>

      </div>



    </div>

  </div>
</section>

