<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign heading_font = settings.type_heading_font -%}
  {%- assign main_font = settings.type_main_font -%}
  {%- assign main_font_bold = main_font | font_modify: 'weight', 'bold' -%}
  {%- assign accent_font = settings.type_accent_font -%}

  <link rel="preload" href="{{ 'theme.min.css' | asset_url }}" as="style">
<link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ accent_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ main_font_bold | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" href="{{ 'theme.min.js' | asset_url }}" as="script">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  <style>
    #MainContent {
      visibility:hidden;
      opacity:0;
      transition:opacity .2s ease-out
    }
  </style>

  <style>
  {{ main_font | font_face: font_display: 'swap' }}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ accent_font | font_face: font_display: 'swap' }}
  {%- assign main_font_bolder = main_font | font_modify: 'weight', 'bolder' -%}
  {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
  {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}
  {% if main_font_bold %}
    {{ main_font_bold | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_italic %}
    {{ main_font_italic | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_bold_italic %}
    {{ main_font_bold_italic | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_bolder %}
    {{ main_font_bolder | font_face: font_display: 'swap' }}
  {% endif %}
  </style>

  {% render 'style-tags' %}
  {% render 'css-variables' %}

  {% comment %}
    Load CSS Variables Polyfill
    for Internet Explorer 11
  {% endcomment %}

  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');</script>


  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}"></script><![endif]-->


  {% render 'script-tags', layout: 'giftcard' %}
  {{ content_for_header }}
</head>

<body class="template-giftcard bg--primary-background">
  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>
</body>
</html>
