<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign heading_font = settings.type_heading_font -%}
  {%- assign main_font = settings.type_main_font -%}
  {%- assign main_font_bold = main_font | font_modify: 'weight', 'bold' -%}
  {%- assign accent_font = settings.type_accent_font -%}

  <link rel="preload" href="{{ 'theme.min.css' | asset_url }}" as="style">
<link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ accent_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ main_font_bold | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" href="{{ 'theme.min.js' | asset_url }}" as="script">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>{{ shop.name }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <style>
    #MainContent {
      visibility:hidden;
      opacity:0;
      transition:opacity .2s ease-out
    }
  </style>

  <style>
  {{ main_font | font_face: font_display: 'swap' }}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ accent_font | font_face: font_display: 'swap' }}
  {%- assign main_font_bolder = main_font | font_modify: 'weight', 'bolder' -%}
  {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
  {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}
  {% if main_font_bold %}
    {{ main_font_bold | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_italic %}
    {{ main_font_italic | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_bold_italic %}
    {{ main_font_bold_italic | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_bolder %}
    {{ main_font_bolder | font_face: font_display: 'swap' }}
  {% endif %}
  </style>

  {% render 'social-meta-tags' %}
  {% render 'style-tags' %}
  {% render 'css-variables' %}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = {
      data: {
        "cartMethod": "{{ settings.ajax_cart_method }}"
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookie: {{ 'cart.general.cookies_required' | t | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>
  {% render 'script-tags', layout: 'theme' %}
  {% comment %}
    Load CSS Variables Polyfill
    for Internet Explorer 11
  {% endcomment %}

  <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');</script>

  {{ content_for_header }}
</head>

<body class="template-password full--vh full--w">

  <main role="main" id="MainContent">
    <div class="password-wrapper absolute top--0 left--0 full flex items--center justify--center flex--column">
    {{ content_for_layout }}
    </div>
  </main>

</body>
</html>
