<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_body_bg }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign heading_font = settings.type_heading_font -%}
  {%- assign main_font = settings.type_main_font -%}
  {%- assign main_font_bold = main_font | font_modify: 'weight', 'bold' -%}
  {%- assign accent_font = settings.type_accent_font -%}

  <link rel="preload" href="{{ 'theme.min.css' | asset_url }}" as="style">
<link rel="preload" as="font" href="{{ main_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ heading_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ accent_font | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ main_font_bold | font_url }}" type="font/woff2" crossorigin>
<link rel="preload" href="{{ 'theme.min.js' | asset_url }}" as="script">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'social-meta-tags' %}

  <!-- Start IE11 Compatibility -->
  <script>
    if (!!window.MSInputMethodContext && !!document.documentMode) {
      // CSSVar Polyfill
      document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');
      // Other Polyfills
      var ie11Polyfills = [
        'Element.prototype.matches',
        'DOMTokenList.prototype.forEach',
        'NodeList.prototype.forEach',
        'Element.prototype.closest',
        'Promise',
        'Event',
        'CustomEvent'
      ];
      document.write('<script src="https://polyfill.io/v3/polyfill.min.js?features=' +
        ie11Polyfills.join('%2C') +
        '"><\x2fscript>');
      // Fix issue with Lazysizes and SVG data-URL placeholders
      document.addEventListener('DOMContentLoaded', function () {
        var elsToLazyload = document.querySelectorAll('.lazyload');
        for (var i = 0; i < elsToLazyload.length; i++) {
          var elToLazyLoad = elsToLazyload[i];
          elToLazyLoad.classList.remove('lazyload');
          elToLazyLoad.removeAttribute('src');
          elToLazyLoad.classList.add('lazyload');
        }
      });
    }
  </script>
  <!-- End IE11 Compatibility -->


  {% render 'css-variables' %}
  {% render 'critical-css' %}
  {% render 'style-tags' %}

  <style>
  {{ main_font | font_face: font_display: 'swap' }}
  {{ heading_font | font_face: font_display: 'swap' }}
  {{ accent_font | font_face: font_display: 'swap' }}
  {%- assign main_font_bolder = main_font | font_modify: 'weight', 'bolder' -%}
  {%- assign main_font_italic = main_font | font_modify: 'style', 'italic' -%}
  {%- assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic' -%}
  {% if main_font_bold %}
    {{ main_font_bold | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_italic %}
    {{ main_font_italic | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_bold_italic %}
    {{ main_font_bold_italic | font_face: font_display: 'swap' }}
  {% endif %}
  {% if main_font_bolder %}
    {{ main_font_bolder | font_face: font_display: 'swap' }}
  {% endif %}
  </style>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    window.theme = {
      data: {
        "cartMethod": "{{ settings.ajax_cart_method }}",
        "openModalOnAddToCart": {{ settings.open_modal_on_add_to_cart | json }}
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookie: {{ 'cart.general.cookies_required' | t | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        addedToCart: {{ 'products.product.added_to_cart' | t | append: '!' | json }}
      },
      breakpoints: {
        lgUp: '(min-width: 990px)',
      },
      routes: {
        cart_url: {{ routes.cart_url | append: '.js' | json }},
        cart_add_url: {{ routes.cart_add_url | append: '.js' | json }},
        cart_change_url: {{ routes.cart_change_url | append: '.js' | json }},
        cart_clear_url: {{ routes.cart_clear_url | append: '.js' | json }},
      },
      moneyFormat: {{ shop.money_format | json }},
      info: {
        name: 'Cascade',
      }
    };
  </script>

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  {% render 'script-tags', layout: 'theme' %}
  {{ content_for_header }}

</head>

<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }} preload">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}


  <main role="main" id="MainContent">
    {{ content_for_layout }}
  </main>


  {% section 'footer' %}
  {% section 'popup' %}

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% render 'ajax-cart-template' %}
</body>
</html>
