{%- assign section_color = section.settings.color_scheme -%}

{%- assign collection_count = section.blocks.size -%}
{%- assign remainder =  collection_count | modulo:2 -%}
{%- if remainder == 0 -%}
  {%- assign odd_count = false -%}
{%- else -%}
  {%- assign odd_count = true -%}
{%- endif -%}

{% assign text_position = section.settings.text_position %}

<section class="cascade section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="cascade" data-section-id="{{ section.id }}"  {% if settings.fade_in_items %}data-fade-in="true"{% endif %}>
  <div class="max-site-width px2 lg--up--px3">
    <div class="cascading-content">
      <div class="items">
        <div class="item-sizer"></div>
        <div class="column-sizer"></div>

        {% assign col_count_desktop = 1 %}
        {% assign index = 1 %}

        {% if section.settings.title != blank %}
          <div
              class="item item--heading item--desktop--full item--mobile--full item--first first-col--desktop first-col--mobile"
              {{ block.shopify_attributes }}>
              <div class="item__inner {% if section.settings.heading_text_align == 'text-align--center' %}five-sixths mx--auto lg--up--mx--auto lg--up--five-sixths{% else %}lg--up--m0{% endif %}">
                <div class="rich-text {{ section.settings.heading_text_align }}">
                  <div class="{% if section.settings.heading_text_align == 'text-align--center' %}seven-eighths mx--auto pm--three-quarters wd--two-thirds{% endif %}">
                      <h2 class="m0 f--heading f--heading font-size__heading">
                        {{ section.settings.title }}
                      </h2>
                  </div>
                </div>
              </div>
          </div>
        {% endif %}

        {% for block in section.blocks %}

          {% assign collection = collections[block.settings.collection] %}
          {% assign title = collection.title %}
          {% assign show_cta = block.settings.show_collection_link %}
          {% assign cta_text = block.settings.cta_text %}
          {% assign heading_class = 'font-size__heading-mobile-full' %}
          {% assign local_color = block.settings.text_color %}
          {% assign text_position = section.settings.text_position %}

          {%- if forloop.first and odd_count -%}
            {%- assign block_width_mobile = 'full' -%}
            {%- assign block_width_desktop = 'full' -%}
          {%- else -%}
            {%- assign block_width_mobile = 'full' -%}
            {%- assign block_width_desktop = 'half' -%}
          {%- endif -%}

          {%- if index == 2 and odd_count -%}
            {%- assign first_col_desktop = true -%}
          {%- else -%}
            {%- assign first_col_desktop = false -%}
          {%- endif -%}

          {%- capture mobile_count -%}{%- cycle '1', '2' -%}{%- endcapture -%}

          {% assign placeholder = true %}
          {% if block.settings.collection and block.settings.collection != '' %}
            {% assign placeholder = false %}
          {% endif %}

          <div class="item item--desktop--{{ block_width_desktop }} item--mobile--full {% if forloop.first %}item--first{% endif %} {% if first_col_desktop %}first-col--desktop{% endif %} {% if last_col %}item--last{% endif %}  {% if settings.fade_in_items %}fade-in{% endif %}">
            <div class="item__inner {% if block_width_desktop == 'full' %}lg--up--two-thirds lg--up--mx--auto{% endif %}">
              <div class=" {% if mobile_count == '1' %}md--dn--pr4{% else %}md--dn--pl4{% endif %} {% if col_count_desktop == 2 or col_count_desktop == 3 %}lg--up--five-sixths lg--up--mx--auto{% endif %}">
                {% if placeholder %}
                  {%- render 'cascade__collection-placeholder',
                      show_cta: show_cta,
                      cta_text: cta_text,
                      heading_class: heading_class,
                      local_color: local_color,
                      text_position: text_position,
                      section_color: section_color,
                  -%}
                {% else %}
                  {%- render 'collection-item',
                      collection: collection,
                      title: title,
                      show_cta: show_cta,
                      cta_text: cta_text,
                      heading_class: heading_class,
                      local_color: local_color,
                      text_position: text_position,
                      section_color: section_color,
                -%}
                {% endif %}
              </div>
            </div>
          </div>

          {%- assign col_count_desktop = col_count_desktop | plus: 1 -%}
          {%- if col_count_desktop == 5 -%}
            {%- assign col_count_desktop = 1 -%}
          {%- endif %}
          {%- assign index = index | plus: 1 -%}

        {% endfor %}

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "select",
      "id": "heading_text_align",
      "label": "Heading text alignment",
      "options": [
       {
         "value": "text-align--left",
         "label": "Left"
       },
       {
         "value": "text-align--center",
         "label": "Center"
       },
       {
         "value": "text-align--right",
         "label": "Right"
       }
      ],
      "default":   "text-align--left"
    },
    {
      "type":      "header",
      "content":   "Collections"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        { "value": "over", "label": "Over image"},
        { "value": "under", "label": "Underneath image"}
      ]
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
           "type": "collection",
           "id": "collection",
           "label": "Choose collection:"
        },
        {
           "type": "select",
           "id": "text_color",
           "label": "Overlay text color",
           "options": [
             { "value": "primary", "label": "Primary text"},
             { "value": "secondary", "label": "Secondary text"},
             { "value": "tertiary", "label": "Tertiary text"},
             { "value": "white", "label": "White"}
           ]
        },
        {
          "type": "checkbox",
          "id": "show_collection_link",
          "label": "Show link to collection",
          "default": true
        },
        {
          "id": "cta_text",
          "type": "text",
          "label": "Link text",
          "default": "Shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
