{%- assign section_color = section.settings.color_scheme -%}


{%- assign grid_item_width = '' -%}
{%- case section.settings.no_products -%}
  {%- when '3' -%}
    {%- assign grid_item_width = 'lg--up--one-third' -%}
  {%- when '4' -%}
    {%- assign grid_item_width = 'lg--up--one-quarter' -%}
  {%- when '6' -%}
    {%- assign grid_item_width = 'lg--up--one-third' -%}
  {%- when '8' -%}
    {%- assign grid_item_width = 'lg--up--one-quarter' -%}
{%- endcase -%}

{%- assign mobile_flickity = section.settings.enable_mobile_flickity -%}
{%- assign no_products = section.settings.no_products | plus: 0 -%}
{%- assign no_product_modulo = no_products | modulo: 2 -%}
{%- assign extra_grid_class = '' -%}
{%- if mobile_flickity == false and no_product_modulo == 0 -%}
  {%- assign extra_grid_class = 'grid__item md--dn--one-half' -%}
{%- endif -%}

<section class="featured-collection section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background" {% if mobile_flickity %}data-enable-mobile-flickity="true"{% endif %} data-section-type="flickity-only" data-section-id="{{ section.id }}">
  <div class="max-site-width lg--up--px3">

    {%- assign collection = collections[section.settings.collection] -%}

    <div class="lg--up--grid">
      {% assign show_info = true %}
      {% if section.settings.title == blank and section.settings.subheading == blank and section.settings.show_collection_link == false %}
        {% assign show_info = false %}
      {% endif %}
      {% if show_info == true %}
      <div class="lg--up--grid__item lg--up--one-quarter">
        <div class="featured-collection__info pb3 pl2 pr4 lg--up--px0">

          {% if collection != blank %}
            {% if section.settings.title == blank %}
              <h2 class="f--heading font-size__heading">{{ collection.title }}</h2>
            {% else %}
              <h2 class="f--heading font-size__heading">{{ section.settings.title | escape }}</h2>
            {% endif %}
          {% else %}
            {% if section.settings.title == blank %}
              <h2 class="f--heading font-size__heading">{{ 'homepage.onboarding.collection_title' | t }}</h2>
            {% else %}
              <h2 class="f--heading font-size__heading">{{ section.settings.title }}</h2>
            {% endif %}
          {% endif %}

          {% if section.settings.subheading != blank %}
            <div class="font-size__basic">
              {{ section.settings.subheading }}
            </div>
          {% endif %}

          {% if section.settings.show_collection_link %}
          <a class="f--accent link-underline--{{ section_color }} hover-underline--{{ section_color }} homepage-more-link font-size__basic" href="{{ collection.url }}" >
            {{ 'collections.general.all_of_collection' | t: collection:  collection.title }}
          </a>
          {% endif %}

        </div>
      </div>
      {% endif %}
      <div class="lg--up--grid__item{% if show_info == true %} lg--up--three-quarters{% endif %}">
        <div class="mobile-flickity relative {% unless mobile_flickity %}md--dn--px2{% endunless %}">
          <div class="mobile-flickity__slides pb3 {% if mobile_flickity == false and no_product_modulo == 0 %}grid grid--uniform sm--grid--half-gutter{% endif %} lg--up--grid grid--uniform {% unless mobile_flickity %}mtn3{% endunless %} lg--up--mtn3">
            {% for product in collection.products limit: section.settings.no_products %}
              <div class="product-grid-item {{ extra_grid_class }} {% if mobile_flickity %}nine-twelfths md--six-twelfths{% else %}mt3{% endif %} lg--up--grid__item {{ grid_item_width }} lg--up--mt3">
                {% if mobile_flickity %}
                <div class="px2 lg--up--px0">
                {% endif %}
                  {%- render 'product-grid-item',
                              product: product,
                              section_color: section_color
                  -%}
                {% if mobile_flickity %}
                </div>
                {% endif %}
              </div>
            {% else %}
              {% for i in (1..section.settings.no_products) %}
              <div class="product-grid-item {{ extra_grid_class }} {% if mobile_flickity %}nine-twelfths md--six-twelfths{% else %}mt3{% endif %} l lg--up--grid__item {{ grid_item_width }} lg--up--mt3">
                {% if mobile_flickity %}
                <div class="px2 lg--up--px0">
                {% endif %}
                  {%- render 'product-grid-item__onboarding',
                              section_color: section_color
                  -%}
                {% if mobile_flickity %}
                </div>
                {% endif %}
              </div>
              {% endfor %}
            {% endfor %}
          </div>

          {% if mobile_flickity %}
          <div class="lg--up--hide">
            <div class="spacer pt1"></div>
            <div class='mobile-flickity__button-container absolute bottom--0 right--0 pt1 pr2'>
              <button aria-label="{{ 'general.accessibility.slideshows.next_slide' | t }}"
                      class="btn border--none bg--transparent btn--next color--{{ section_color }}-text hv--{{ section_color }}-accent font-size--sm">
                {% render 'icon-next' %}
              </button>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      },
      {
         "type": "select",
         "id": "no_products",
         "options": [
            { "value": "3", "label": "3 Products"},
            { "value": "4", "label": "4 Products"},
            { "value": "6", "label": "6 Products"},
            { "value": "8", "label": "8 Products"}
         ],
         "label": "Number of products"
      },
      {
        "id": "subheading",
        "type": "text",
        "label": "Subheading",
        "default": "Use this text to share information about your collection."
      },
      {
        "type": "checkbox",
        "id": "enable_mobile_flickity",
        "label": "Enable horizontal scrolling on mobile",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_link",
        "label": "Show link to collection",
        "default": true
      },
      {
        "type":      "header",
        "content":   "Color"
      },
      {
         "type": "select",
         "id": "color_scheme",
         "label": "Color scheme",
         "options": [
            { "value": "primary", "label": "Primary"},
            { "value": "secondary", "label": "Secondary"},
            { "value": "tertiary", "label": "Tertiary"}
         ]
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
