{%- liquid
	assign login_button_t = "general.password.login_button" | t
	assign login_cancel_t = "general.password.login_cancel" | t
	assign login_link_t = "general.password.login_link" | t
	assign login_title_t = "general.password.login_title" | t
	assign mailing_button_t = "general.mailing_list.button" | t
	assign mailing_placeholder_t = "general.mailing_list.placeholder" | t
	assign shopify_info_t = "general.password.shopify_info" | t
	assign subtitle_t = "general.password.sub_title" | t
	assign success_message_t = "general.mailing_list.success_message" | t
	assign title_t = "general.password.title" | t

	assign show_mailing = section.settings.show-mailing-list
	assign background_image = 'password-page-background.jpg' | asset_url
	assign logo_height = section.settings.logo-height-range
	if section.settings.logo
		assign logo = section.settings.logo
	endif
-%}

{% capture shopify %}
	<a
		class="shopify-link"
		href="https://www.shopify.com"
		aria-label="{{ shopify_info_t }}"
		rel="noreferrer">
		{% render 'framework--icons', icon: 'shopify' %}
		<span data-item="hidden-text">Shopify</span>
	</a>
{% endcapture %}

<div
  class="password--root"
  data-section-id="{{ section.id }}"
  data-section-type="password"
	data-password--logo="{% if logo %}true{% else %}false{% endif %}"
  data-password--logo-height="{{ section.settings.logo-height-range }}"
  data-js-class="PasswordPage"
>

	<div class="password--background-image">
		{%
			render "framework--image",
			image_url: background_image,
			full_width: true
		%}
	</div>

  <div class="password--login">

    <div class="password--login-link" data-item="accent-text" tabindex="0">
			{% render 'framework--icons', icon: 'lock' %}
			<p>{{ login_link_t }}</p>
		</div>

    <div class="password--login-form">
      {% form 'storefront_password', id: 'password_form' %}

        <div class="password--errors error" data-item="paragraph">
					{{ form.errors | default_errors }}
        </div>
				<label data-item="accent-text" for="password">
					{{ login_title_t }}
				</label>

        <input type="password" id="password" name="password">

				<div class="password--buttons-container">
					<div class="password--button" data-item="button">
						<button>
							{{ login_button_t | capitalize }}
						</button>
					</div>
					<div data-item="inverted-block-link">
						<div class="password--cancel" tabindex="0">
							{{ login_cancel_t }}
						</div>
					</div>
				</div>

      {% endform %}
    </div>

  </div>

	<div class="password--main">

		<a href="{{ shop.url }}" title="{{ shop.name }}" itemprop="url">
			{% if logo %}
				<div class="password--logo">
					{%
						render "framework--image",
						image: logo,
						full_width: false,
						max_height: logo_height
					%}
				</div>
			{% else %}
				<div class="password--shop-name" data-item="section-heading">{{ shop.name }}</div>
			{% endif %}
		</a>

		<h2 class="password--subtitle" data-item="section-heading">{{ title_t }}</h2>

		{% if shop.password_message != blank %}
			<p class="password--info" data-item="paragraph">{{ shop.password_message }}</p>
		{% else %}
			<p class="password--info" data-item="paragraph">{{ subtitle_t }}</p>
		{% endif %}

		{% if show_mailing %}

			{% if section.settings.mailing-list--title != blank %}
				<div class="password--mailing-header" data-item="block-heading">
					{{ section.settings.mailing-list--title }}
				</div>
			{% endif %}

			<div class="password--mailing-list" id="newsletter">

				{% form 'customer', id: 'password_form' %}
					{% if form.posted_successfully? %}
						<p class="success" data-item="paragraph">
							{{ success_message_t }}
						</p>
					{% endif %}

					{% if form.errors %}
						<p class="error" data-item="paragraph">
							{% for field in form.errors %}
								{{ field }} {{ form.errors.messages[field] }}
							{% endfor %}
						</p>
					{% endif %}

					<input type="hidden" name="contact[tags]" value="{{ source }}" />
					<input type="hidden" name="contact[first_name]" value="Newsletter" />
					<input type="hidden" name="contact[last_name]" value="Subscriber" />
					<label for="password-email" data-item="hidden-text">
						{{ mailing_placeholder_t }}
					</label>

					<input
						aria-label="{{ mailing_placeholder_t }}"
						type="email"
						id="password-email"
						placeholder="{{ mailing_placeholder_t }}"
						name="contact[email]"
						required
					/>

					<span class="password--mailing-separator"></span>

					<div
						class="password--mailing-button"
						data-item="inverted-button"
					>
						<button>
							{{ mailing_button_t }}
						</button>
					</div>

					{% if form.posted_successfully? or form.errors %}
						<script>window.location.hash = '#feedback-bar--newsletter';</script>
					{% endif %}

					<div data-item="hidden-text">
						{% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
						{{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
					</div>
				{% endform %}
			</div>

		{% endif %}

		<div class="password--powered-by" data-item="paragraph">
			{{ 'general.password.powered_by_shopify_html' | t: shopify: shopify }}
		</div>

	</div>

</div>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "Using a light colored logo is preferable since dark ones won’t be visible on the dark background."
    },
    {
      "label": "Custom logo height",
      "id": "logo-height-range",
      "type": "range",
      "min": 30,
      "max": 250,
      "step": 20,
      "unit": "px",
      "default": 50,
      "info": "This is referring to the natural height and should be half the height of the image you uploaded to ensure it stays sharp on retina screens."
    },
    {
      "type": "header",
      "content": "Mailing list"
    },
    {
      "type": "checkbox",
      "id": "show-mailing-list",
      "label": "Show form",
      "default": true
    },
    {
      "id": "mailing-list--title",
      "label": "Heading",
      "type": "textarea",
      "default": "Sign up to our mailing list"
    }
  ]
}
{% endschema %}