{%- liquid
  assign reset_password_title_t = 'customer.reset_password.page_title' | t
  assign reset_password_t = 'customer.reset_password.password' | t
  assign reset_password_confirmation_t = 'customer.reset_password.password_confirmation' | t
  assign reset_password_submit_t = 'customer.reset_password.submit' | t
-%}

<div id="customer-reset-password" class="customer--root account--reset-password">

  <h1 data-item="section-heading">
		{{ reset_password_title_t }}
	</h1>

  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <label for="password">
      {{ reset_password_t }}
    </label>
    <input
      class="text"
      type="password"
      value=""
      name="customer[password]"
      id="customer_password"
      size="16"
    />

    <label for="password_confirmation">
      {{ reset_password_confirmation_t }}
    </label>
    <input
      class="text"
      type="password"
      value=""
      name="customer[password_confirmation]"
      id="customer_password_confirmation"
      size="16"
    />

    <div class="account--button-container">
      <div data-item='button'>
        <button type="submit" value="{{ reset_password_submit_t }}">
          {{ reset_password_submit_t }}
        </button>
      </div>
    </div>
  {% endform %}
</div>