{%- liquid
  assign email_placeholder_t = 'home.newsletter.email_placeholder' | t
  assign button_t = 'home.newsletter.button' | t

  assign heading = section.settings.heading | escape
  assign subheading = section.settings.newsletter--subheading
-%}

{% comment %} View {% endcomment %}
<div
  class="newsletter--root"
  style="{% render 'framework--background-colors', bg_color: section.settings.background-color %}"
  data-section-id="{{ section.id }}"
>
  <div class="newsletter--container">

    {% if heading != blank or subheading != blank %}
      <div class="newsletter--header">
        {% if heading != blank %}
          <h2 class="newsletter--heading" data-item="section-heading">{{ heading }}</h2>
        {% endif %}

        {% if subheading != blank %}
          <div class="newsletter--subheading" data-item="rte-content">
            {{ subheading }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="newsletter--body">
      {% form 'customer', id: 'newsletter_form' %}
        {% if form.errors %}
          <p class="newsletter--failure">
          {% for field in form.errors %}
            {{ field }} {{ form.errors.messages[field] }}
          {% endfor %}
          </p>
        {% endif %}
        <input type="hidden" name="contact[tags]" value="newsletter" />
        <label for="newsletter-email" data-item="hidden-text">{{ email_placeholder_t }}</label>
        <input
          class="newsletter--email"
          id="newsletter-email"
          name="contact[email]"
          type="email"
          aria-label="{{ email_placeholder_t }}"
          placeholder="{{ email_placeholder_t }}"
          required
        />
        <div data-item='button'>
          <button type="submit" value="{{ button_t }}">
            {{ button_t }}
          </button>
        </div>

        {% if form.posted_successfully? or form.errors %}
          <script>window.location.hash = '#feedback-bar--newsletter';</script>
        {% endif %}

        <div data-item="hidden-text">
          {% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
          {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
        </div>
      {% endform %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Light grey", "value": "light" },
          { "label": "Accent", "value": "accent" }
        ],
        "default": "none"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "richtext",
        "id": "newsletter--subheading",
        "label": "Subheading",
        "default": "<p>A short sentence describing what someone will receive by subscribing</p>"
      },
      {
        "type": "paragraph",
        "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }],
    "blocks" : []
  }
{% endschema %}
