{%- assign section_color = 'primary' -%}


<div class="password-page__main__inner max-width--2 lg--up--max-width--3 mx--auto">

  <a href="#Login"  data-modaal-type="inline" data-modaal-animation="fade" class="modaal js-toggle-login-modal absolute top--0 right--0 font-size--xxs p1" data-mfp-src="#LoginModal">
    {% render 'icon-lock' %}
  </a>

  <div class="px2 lg--up--px3">
    <div class="grid">
      <div class="grid__item lg--up--one-third">

        {% comment %}
          Site name or logo
        {% endcomment %}
        <div class="password-page__logo">
          <h1 class="h2 f--heading font-size__heading">
          {% assign logo_width = section.settings.logo_max_width | times: 1 %}
          {% if section.settings.logo != blank and logo_width <= 2048 %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            <img class="logo" src="{{ section.settings.logo | img_url: image_size }}"
                         srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                         alt="{{ section.settings.logo.alt | default: shop.name }}">
          {% else %}
            <span>{{ shop.name }}</span>
          {% endif %}
          </h1>
        </div>

      </div>
      <div class="grid__item lg--up--two-thirds  mt3 lg--up--mt0">

        {% comment %}
          Opening soon text
        {% endcomment %}
        {% unless section.settings.title == blank %}
        <h2 class="font-size--l m0">{{ section.settings.title | escape }}</h2>
        {% endunless %}

        {% comment %}
          Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
        {% endcomment %}

        {% unless shop.password_message == blank %}
          <div class="password-page__message font-size__basic m0 mt1">
            {{ shop.password_message }}
          </div>
        {% endunless %}

        {% comment %}
          Signup form
        {% endcomment %}

        {% if section.settings.newsletter_enable %}
          <div class="password-page__signup-form mt2">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form-message f--main" data-form-status>{{ 'general.password_page.signup_form_success' | t }}</p>
              {% else %}
              <div class="password-page__signup-form__heading h5">{{ section.settings.newsletter_form_heading }}</div>
                <div class="input-group color--primary-text">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <label for="Email" class="hide">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
                  <input type="email"
                    name="contact[email]"
                    id="Email"
                    class="input-group-field px2 py1 bg--transparent border--{{ section_color }}-text"
                    value="{% if customer %}{{ customer.email }}{% endif %}"
                    placeholder="{{ section.settings.newsletter_placeholder | escape }}"
                    autocorrect="off"
                    autocapitalize="off">
                  <span class="input-group-btn">
                    <button type="submit" class="btn border--none newsletter__submit px2 py1 bg--{{ section_color }}-text color--{{ section_color }}-text--overlay" name="commit" id="Subscribe">
                      <span class="newsletter__submit">{{ section.settings.newsletter_button_text | escape }}</span>
                    </button>
                  </span>
                </div>
              {% endif %}
            {% endform %}
          </div>
        {% endif %}

        {% comment %}
          Share homepage URL
          Shared text is from the store meta description
        {% endcomment %}

        {% if section.settings.show_share_buttons %}
        <div class="password-page__social-sharing mt3 mxn1">
          {% render 'page-share', show_label: false %}
        </div>
        {% endif %}

        <footer class="font-size--s mt3">
            {{ powered_by_link }}
        </footer>

      </div>

    </div>
  </div>
</div>

<div id="Login" style="display:none;">
  <div class="max-width--2 mx--auto bg--active-background color--active-text">
    <h4 class="f--heading font-size__heading">{{ 'general.password_page.login_form_heading' | t }}</h4>
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <label for="password mt2 block">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <input type="password"
        class="block mt1 full--w  px2 py1 bg--transparent border--active-text color--active-text"
        name="password"
        id="Password"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
      <button type="submit" name="commit" class="block full--w btn mt1 px2 py1 bg--active-text color--active-text--overlay lg--up--two-thirds border--none">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
    {% endform %}
    <p class="mt3 font-size--s">{{ 'general.password_page.admin_link_html' | t: color: 'active' }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-page__main full--w",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "richtext",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "<p>Be the first to know when we launch.</p>",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social media sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
