{%- assign section_color = 'active' -%}
{% unless section.settings.display_mode == 'disabled' %}
<section class="popup fixed right--0 p2 lg--up--one-third"  data-section-type="popup"  data-delay="{{ section.settings.delay }}" data-frequency="{{ section.settings.frequency }}" data-section-id="{{ section.id }}">

  <div class="relative color--{{ section_color }}-text bg--{{ section_color }}-background p2 lg--up--p3 full flex items--center justify--center">

    <div class="absolute top--0 right--0 p2">
      <a class="block font-size--m pointer color--active-text hv--active-accent" data-close-popup tabindex="0">
        {% render 'icon-close' %}
      </a>
    </div>

    <div>
    {% if section.settings.title == blank %}
      <h2 class="f--heading  m0">{{ 'homepage.onboarding.newsletter_title' | t }}</h2>
    {% else %}
      <h2 class="f--heading font-size--xl line-height--5 lg--up--font-size--xxl lg--up--line-height--6 m0">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
      <div class="line-height--3 font-size__basic mt1">
        {{ section.settings.text}}
      </div>
    {% endif %}

     {% if section.settings.call_to_action == 'newsletter' %}
      <div class="mt2">
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form-message f--main">{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <div class="input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <label for="Email" class="hide">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <input type="email"
            name="contact[email]"
            id="Email"
            class="input-group-field px2 py1 bg--transparent border--{{ section_color }}-text color--{{ section_color }}-text font-size--s"
            value="{% if customer %}{{ customer.email }}{% endif %}"
            placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}"
            autocorrect="off"
            autocapitalize="off">
          <span class="input-group-btn">
            <button type="submit" class="btn border--none newsletter__submit px2 py1 font-size--s bg--{{ section_color }}-text border--{{ section_color }}-text color--{{ section_color }}-text--overlay hover-bg-border--{{ section_color }}" name="commit" id="Subscribe">
              <span class="newsletter__submit">{{ 'general.newsletter_form.submit' | t }}</span>
            </button>
          </span>
        </div>
      {% endif %}
      {% endform %}
      </div>
      {% else %}
      <div class="mt2">
        {%- assign cta_text = section.settings.cta_text -%}
        {%- assign cta_url = section.settings.cta_url -%}
        {% if cta_url != blank %}
          <a class="btn border--none btn--add-to-cart relative color-scheme--{{ section_color }} border--none bg--{{ section_color }}-text color--{{ section_color }}-text--overlay hover-bg--{{ section_color }} p1 px2 inline-block" href="{{ cta_url }}" target="_blank" >
            {{ cta_text }}
          </a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>

</section>
{% endunless %}

{% schema %}
{
  "name": "Popup",
  "settings": [
    {
       "type": "select",
       "id": "display_mode",
       "label": "Display mode",
       "options": [
          { "value": "disabled", "label": "Disabled"},
          { "value": "enabled", "label": "Enabled"}
       ],
       "default": "disabled"
    },
    {
      "type":      "range",
      "id":        "delay",
      "min":       2,
      "max":        30,
      "step":       1,
      "label":     "Delay",
      "unit":      "sec",
      "default":   4,
      "info": "Delay won't be applied when inside theme editor."
    },
    {
      "type":      "range",
      "id":        "frequency",
      "min":       2,
      "max":        30,
      "step":       1,
      "label":     "Frequency",
      "unit":      "day",
      "default":   30,
      "info": "Number of days before a closed popup reappears."
    },
    {
      "type":      "header",
      "content":   "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Sign up to our newsletter"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Receive special offers and first look at new products.</p>"
    },
    {
       "type": "select",
       "id": "call_to_action",
       "label": "Call to action",
       "options": [
          { "value": "newsletter", "label": "Newsletter signup"},
          { "value": "button", "label": "Button"}
       ],
       "default": "newsletter",
       "info": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)."
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Button text",
      "default": "Shop Now"
    }
  ]
}
{% endschema %}