{%- assign section_color = section.settings.color_scheme -%}
{%- assign product = all_products[section.settings.selected_product] -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
{%- assign hide_drop_down_labels = section.settings.hide_drop_down_labels -%}
{%- assign show_quantity = section.settings.show_quantity -%}
{%- assign enable_payment_button = section.settings.enable_payment_button -%}
{%- assign enable_video_looping = section.settings.enable_video_looping %}
{%- assign section_id = section.id -%}

<section class="product-feature section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-id="{{ section.id }}" data-section-type="product" data-product-feature="true">

  <div class="max-site-width md--up--px2 lg--up--px3">
    {% if product == empty %}
      {%- render 'product__onboarding',
          section_color: section_color
      -%}
    {% else %}
      {% assign feature_product = true %}
      {% assign section_id = section.id %}
      {%- render 'product__top-section',
          product: product,
          feature_product: feature_product,
          current_variant: current_variant,
          featured_media: featured_media,
          hide_drop_down_labels: hide_drop_down_labels,
          show_quantity: show_quantity,
          enable_payment_button: enable_payment_button,
          enable_video_looping: enable_video_looping,
          section_id: section_id,
          section_color: section_color
      -%}
    {% endif %}
  </div>

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
    <script type="application/json" id="ModelJson-{{ section.id }}">
      {{ product.media | where: 'media_type', 'model' | json }}
    </script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ shop.url | append: product.url | json }},
      {%- if product.featured_media -%}
        {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
        "image": [
          {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
        ],
      {%- endif -%}
      "description": {{ product.description | strip_html | json }},
      {%- if current_variant.sku != blank -%}
        "sku": {{ current_variant.sku | json }},
      {%- endif -%}
      "brand": {
        "@type": "Thing",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ shop.url | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
    </script>
  {% endunless %}

</section>

{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
       "type": "product",
       "id": "selected_product",
       "label": "Choose product:"
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity",
      "label": "Show quantity"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label":  "Enable video looping",
      "default": false
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "category": "Products"
    }
  ]
}
{% endschema %}