{%- assign section_color = section.settings.color_scheme -%}


{%- case section.blocks.size -%}
  {%- when 1 -%}
     {%- assign block_class = 'lg--up--three-quarters font-size--ml line-height--5 lg--up--font-size--xl lg--up--line-height--6' -%}
  {%- when 2 -%}
    {%- assign block_class = 'lg--up--one-half' -%}
  {%- when 3 -%}
    {%- assign block_class = 'lg--up--one-third' -%}
{%- endcase -%}

<section class="richtext section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="richtext" data-section-id="{{ section.id }}">
  <div class="max-site-width lg--up--px3">
    <div class="grid">

      <div class="grid__item lg--up--one-quarter">
        <div class="pb3 pl2 pr4 lg--up--px0 lg--up--pb0">

          {% if section.settings.title  %}
            <h2 class="f--heading font-size__heading m0">{{ section.settings.title }}</h2>
          {% endif %}

          {% if section.settings.cta_url %}
          <a class="inline-block homepage-more-link  font-size__basic link-underline--{{ section_color }} hover-underline--{{ section_color }}" href="{{ section.settings.cta_url }}" >
            {{ section.settings.cta_text }}
          </a>
          {% endif %}

        </div>
      </div>

      <div class="grid__item lg--up--three-quarters">
        <div class="px2 lg--up--px0">
          <div class="grid mtn2 lg--up--mt0">
            {% for block in section.blocks %}
            <div class="grid__item mt2 lg--up--mt0 {% if section.blocks.size > 1 %}font-size__basic{% endif %} {{ block_class }} ">
              {{ block.settings.richtext }}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Heading",
      "default": "Title"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Optional: Call to action link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Call to action button text"
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "blocks": [
    {
      "type": "richtext",
      "name": "Rich text",
      "limit": 3,
      "settings": [
        {
          "id": "richtext",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "category": "Text",
      "blocks": [
        {
          "type": "richtext"
        },
        {
          "type": "richtext"
        },
        {
          "type": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}
