{% assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true %}
{% if pick_up_availabilities.size > 0 %}

{% assign icon_classes = 'font-size--xxs' %}
{% assign store_name_classes = 'f--main font-size--s font-weight--normal mb0' %}
{% assign time_classes = 'font-size--xs font-weight--normal mt0' %}
{% assign more_classes = 'mt2' %}

<div class="store-availability-template__container"
     data-section-id="{{ section.id }}"
     data-section-type="store-availability">
    <div class="pickup-container flex flex--row justify--start items--start">
      {% assign closest_location = pick_up_availabilities.first %}
      {% if closest_location.available %}
        {% assign in_stock = true %}
        {% assign icon_color_class = 'success' %}
      {% else %}
        {% assign in_stock = false %}
        {% assign icon_color_class = 'error' %}
      {% endif %}
        <div class="pickup__icon fill--%SECTIONCOLOR%-{{ icon_color_class }} {{ icon_classes }}"
             aria-hidden="true"
             focusable="false"
             role="presentation">
          {% if in_stock %}
            {% include 'icon-in-stock' %}
          {% else %}
            {% include 'icon-out-of-stock' %}
          {% endif %}
        </div>
        <div class="pickup__information">
          {% if closest_location.available %}
            <h3 class="pickup__store {{ store_name_classes }}">
              {{ 'store_availability.general.pick_up_available_at_html' | t: location_name: closest_location.location.name }}
            </h3>
            <small class="pickup__time {{ time_classes }}">
              {{ closest_location.pick_up_time }}
            </small>
            <div class="pickup__more {{ more_classes }}">
              <a href="#StoreAvailabilitiesList"
                 data-modaal-type="inline"
                 class="modaal link-underline link-underline--%SECTIONCOLOR% color--%SECTIONCOLOR%-text"
                 aria-haspopup="dialog">
                {% if pick_up_availabilities.size == 1 %}
                  {{ 'store_availability.general.view_store_info' | t }}
                {% else %}
                  {{ 'store_availability.general.check_other_stores' | t }}
                {% endif %}
              </a>
            </div>
          {% else %}
            <h3 class="pickup__store {{ store_name_classes }}">
              {{ 'store_availability.general.pick_up_unavailable_at_html' | t: location_name: closest_location.location.name }}
            </h3>
            {% if pick_up_availabilities.size > 1 %}
            <div class="pickup__more {{ more_classes }}">
              <a href="#StoreAvailabilitiesList"
                 data-modaal-type="inline"
                 class="modaal link-underline link-underline--%SECTIONCOLOR% color--%SECTIONCOLOR%-text"
                 aria-haspopup="dialog">
                {{ 'store_availability.general.check_other_stores' | t }}
              </a>
            </div>
            {% endif %}
          {% endif %}
        </div>
    </div>

    <div id="StoreAvailabilitiesList"
         class="hide">
      <h2 class="f--heading f--heading font-size--xl lg--up--font-size--xxl m0 lg--up--mb1  color--active-text">%PRODUCTTITLE%</h2>
      <h3 class="f--main font-weight-normal font-size--m  color--active-text"
          data-variant-title>
        {{ product_variant.title }}
      </h3>
      <div class="mt3 lg--up--mt4 color--active-text" role="list">
      {% for availability in pick_up_availabilities %}
      {% if forloop.index > 1 %}
        <hr class="hr my3 bg--active-text opacity--3">
      {% endif %}
        <div class="pickup-expanded__list-item"
             role="listitem"
             data-variant-availability>
          <div>
            <h3 class="pickup-expanded__store f--main font-weight--bold font-size--m">
              {{ availability.location.name }}
            </h3>
          </div>
          <div class="pickup-expanded__information flex flex--row justify--start items--start">
            {% if availability.available %}
              <div class="pickup-expanded__icon {{ icon_classes }}"
                   aria-hidden="true"
                   focusable="false"
                   role="presentation">
                {% include 'icon-in-stock' %}
              </div>
              <small class="pickup-expanded__details">
                {{ 'store_availability.general.pick_up_available' | t }}, {{ availability.pick_up_time | downcase }}
              </small>
            {% else %}
              <div class="pickup-expanded__icon {{ icon_classes }}"
                   aria-hidden="true"
                   focusable="false"
                   role="presentation">
                {% include 'icon-out-of-stock' %}
              </div>
              <small class="pickup-expanded__details">
                {{ 'store_availability.general.pick_up_currently_unavailable' | t }}
              </small>
            {% endif %}
          </div>
          {%- assign address = availability.location.address -%}
          <address class="pickup-expanded__address normal mt2 mb0">
            {{ address | format_address }}
            {%- if address.phone.size > 0 %}
              <a class="color--active-text" href="tel:{{ address.phone | replace: ' ', '' }}">
                {{ address.phone }}
              </a><br>
            {%- endif -%}
          </address>
        </div>
      {% endfor %}
      </div>
    </div>

  </div>
{% endif %}

{% schema %}
{
  "name": {},
  "settings": []
}
{% endschema %}
