{%- assign section_color = section.settings.color_scheme -%}


{%- assign video_grid_width = 'lg--up--three-quarters' -%}
{%- if section.settings.title == blank and section.settings.description == blank and section.settings.cta_url == blank -%}
  {%- assign video_grid_width = 'lg--up--one-whole' -%}
{%- endif -%}

<section class="video section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background" data-section-type="video" data-section-id="{{ section.id }}">
  <div class="max-site-width lg--up--px3">
    <div class="grid">

      {% unless section.settings.title == blank and section.settings.description == blank and  section.settings.cta_url == blank %}
        <div class="grid__item lg--up--one-quarter">
          <div class="pb3 pl2 pr4 lg--up--px0">

            {% if section.settings.title  %}
              <h2 class="f--heading font-size__heading">{{ section.settings.title }}</h2>
            {% endif %}

            {% if section.settings.subheading != blank %}
              <div class="font-size__basic">
                {{ section.settings.subheading }}
              </div>
            {% endif %}

            {% if section.settings.cta_url %}
            <a class="inline-block homepage-more-link  font-size__basic  f--accent link-underline--{{ section_color }}  hover-underline--{{ section_color }} " href="{{ section.settings.cta_url }}" >
              {{ section.settings.cta_text }}
            </a>
            {% endif %}

          </div>
        </div>
      {% endunless %}

      <div class="grid__item {{ video_grid_width }}">
        <div class="px2 lg--up--px0">
          {% if section.settings.video_url %}
            {% if section.settings.video_url.type == 'youtube' %}
              <iframe width="560" height="315" src="//www.youtube.com/embed/{{ section.settings.video_url.id }}?rel=0&amp;controls=0&amp;showinfo=0" title="{{ 'general.accessibility.media.embedded_video_title' | t }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}
            {% if section.settings.video_url.type == 'vimeo' %}
              <iframe src="//player.vimeo.com/video/{{ section.settings.video_url.id }}?color=00ff00" title="{{ 'general.accessibility.media.embedded_video_title' | t }}" width="500" height="232" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% endif %}
          {% else %}
            <iframe width="560" height="315" src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&amp;controls=0&amp;showinfo=0" title="{{ 'general.accessibility.media.embedded_video_title' | t }}" frameborder="0" allowfullscreen></iframe>
          {% endif %}
        </div>
      </div>

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Video",
  "class": "section-video",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Heading",
      "default": "Video"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading goes here"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Optional: Call to action URL"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Call to action button text",
      "default": "Shop Now"
    },
    {
      "id": "video_url",
      "type": "video_url",
      "label": "Video link",
      "accept": ["youtube", "vimeo"],
      "info": "Accepts URLs from YouTube or Vimeo",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type":      "header",
      "content":   "Color"
    },
    {
       "type": "select",
       "id": "color_scheme",
       "label": "Color scheme",
       "options": [
          { "value": "primary", "label": "Primary"},
          { "value": "secondary", "label": "Secondary"},
          { "value": "tertiary", "label": "Tertiary"}
       ]
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Video"
    }
  ]
}
{% endschema %}
