{% comment %} Translations {% endcomment %}
{% assign page_title_t = 'general.404.page_title' | t %}
{% assign intro_t = 'general.404.intro' | t %}

{% capture home_page_link %}
  <a href="{{ shop.url }}">{{ 'general.404.home_page_link' | t }}</a>
{% endcapture %}
{%- capture products_link -%}
  <a href="{{ routes.all_products_collection_url }}">{{ 'general.404.products_link' | t }}</a>
{%- endcapture -%}

<div class="four-o-four--root">
	<div class="four-o-four--container">
		<h1 class="four-o-four--heading" data-item="section-heading">
			{{ page_title_t }}
		</h1>

		<h3 class="four-o-four--info" data-item="block-heading">
			{{ intro_t }}
		</h3>

		<p>
			{{
				'general.404.return_links_html' | t:
				home_page_link: home_page_link, products_link: products_link
			}}
		</p>
	</div>
</div>