{% assign section_color = 'primary' %}


<section class="cart section-with-padding ">

  <div class="max-width--4 px2 lg--up--px3 mx--auto">

    {% if cart.item_count > 0 %}


      <form action="{{ routes.cart_url }}" method="post" novalidate>

        <h2 class="f--heading md--up--hide">{{ 'cart.general.title' | t }}</h2>

        <div class="cart">

          <div class="cart__row sm--hide">
            <div class="grid">
              <div class="grid__item lg--up--three-fifths">
                <h2 class="f--heading">{{ 'cart.general.title' | t }}</h2>
              </div>
              <div class="grid__item lg--up--two-fifths">
                <div class="table full--w">
                  <div class="table-cell one-third">
                    <div class="js-qty-wrapper color--main">
                      {{ 'cart.label.quantity' | t }}
                    </div>
                  </div>
                  <div class="table-cell two-thirds text-align--right font-size--m">
                    {{ 'cart.label.total' | t }}
                  </div>
                </div>
              </div>
            </div>
            <hr class="hr bg--{{ section_color }}-text mt2"/>
          </div>

          {% for item in cart.items %}
            <div class="cart__row font-size--sm mt3">
              <div class="grid relative">
                <div class="grid__item lg--up--three-fifths">
                  <div class="grid grid--full ">
                    <div class="grid__item one-quarter">
                      {% if item.image != blank %}
                        <a href="{{ item.url | within: collections.all }}" class="block">
                          {{ item | img_url: 'grande' | img_tag: item.title, 'cart__row__img' }}
                        </a>
                      {% endif %}
                    </div>
                    <div class="grid__item three-quarters">
                      <div class="pl2">

                        <div class="table full--w">
                          <div class="table-cell two-thirds">
                            <a class="f--heading font-size--m md--up--font-size--l" href="{{ item.url }}">{{ item.product.title }}</a>
                            {%- if item.line_level_discount_allocations != blank -%}
                              <ul class="m0 list--reset font-size--s text-align--left color--primary-accent order-discount order-discount--list order-discount--title order-discount--cart-list md--up--hide" aria-label="{{ 'customer.order.discount' | t }}">
                                {%- for discount_allocation in item.line_level_discount_allocations -%}
                                  <li class="order-discount__item">
                                    {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                                  </li>
                                {%- endfor -%}
                              </ul>
                            {%- endif -%}
                          </div>
                          <div class="table-cell text-align--right font-size--m one-third md--up--hide">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <del class="cart__price block">{{ item.original_line_price | money }}</del>
                              <span class="order-discount cart__price color--primary-accent">{{ item.final_line_price | money }}</span>
                            {%- else -%}
                              {{ item.original_line_price | money }}
                            {%- endif -%}
                            {%- if item.unit_price_measurement -%}
                              <div class="font-size--xs{% if item.original_price != item.final_price %} color--primary-accent{% endif %}">
                                {{ item.unit_price | money }} /&nbsp;
                                {%- if item.unit_price_measurement.reference_value != 1 -%}
                                  {{- item.unit_price_measurement.reference_value -}}
                                {%- endif -%}
                                {{ item.unit_price_measurement.reference_unit }}
                              </div>
                            {%- endif -%}
                          </div>
                        </div>

                        {% unless item.product.has_only_default_variant %}
                          <p class="m0">{{ item.variant.title }}</p>
                        {% endunless %}

                        {% if settings.cart_vendor_enable %}
                          <p class="m0">{{ item.vendor }}</p>
                        {% endif %}

                        {% if item.selling_plan_allocation %}
                          <p class="m0">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                        {% endif %}

                        {%- assign property_size = item.properties | size -%}

                        {% if property_size > 0 %}
                          {% for p in item.properties %}
                            {% assign first_character_in_key = p.first | slice: 0 %}
                            {% unless p.last == blank or first_character_in_key == '_' %}
                            <p class="m0">
                              {{ p.first }}:
                              {% if p.last contains '/uploads/' %}
                                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                              {% else %}
                                {{ p.last }}
                              {% endif %}
                            </p>
                            {% endunless %}
                          {% endfor %}
                        {% endif %}

                        <div class="js-qty-wrapper color--main one-half md--up--hide">
                          {% comment %}
                          <input type="number"
                                 class="inline-block quantity-sync__{{ forloop.index }} hide"
                                 name="updates[]"
                                 id="updates_{{ item.key }}"
                                 value="{{ item.quantity }}"
                                 min="0"
                                 aria-label="{{ 'cart.general.item_quantity' | t }}">
                          {% endcomment %}
                        </div>

                        <a class="inline-block mt1" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0">
                          <small>{{ 'cart.general.remove' | t }}</small>
                        </a>



                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid__item lg--up--two-fifths">
                  <div class="table full--w">
                    <div class="table-cell one-third">
                      <div class="js-qty-wrapper color--main cart-page__qty">
                        <input type="number"
                               class="inline-block quantity-sync__{{ forloop.index }}"
                               name="updates[]"
                               id="updates_{{ item.key }}"
                               value="{{ item.quantity }}"
                               min="0"
                               aria-label="{{ 'cart.general.item_quantity' | t }}">
                      </div>
                    </div>
                    <div class="table-cell two-thirds text-align--right font-size--m sm--hide ">

                      {%- if item.original_line_price != item.final_line_price -%}
                        <del class="cart__price block">{{ item.original_line_price | money }}</del>
                        <span class="order-discount cart__price color--primary-accent">{{ item.final_line_price | money }}</span>
                      {%- else -%}
                        <span>{{ item.original_line_price | money }}</span>
                      {%- endif -%}
                      {%- if item.unit_price_measurement -%}
                        <div class="font-size--xs{% if item.original_price != item.final_price %} color--primary-accent{% endif %}">
                          {{ item.unit_price | money }} /&nbsp;
                          {%- if item.unit_price_measurement.reference_value != 1 -%}
                            {{- item.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ item.unit_price_measurement.reference_unit }}
                        </div>
                      {%- endif -%}

                      {%- if item.line_level_discount_allocations != blank -%}
                        <ul class="m0 mt1 list--reset font-size--sm color--primary-accent order-discount order-discount--list order-discount--title order-discount--cart-list" aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount_allocation in item.line_level_discount_allocations -%}
                            <li class="order-discount__item">
                              {{ discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

          <div class="cart__row">

            <hr class="hr bg--{{ section_color }}-text my3"/>

            <div class="grid">
              <div class="grid__item md--up--one-half">
                <div class="md--up--pr4">
                  {% if settings.cart_notes_enable %}
                    <label class="inline-block mb1 font-size--sm" for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea class="bg--transparent border--main full--w" name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                  {% endif %}
                </div>
              </div>

              <div class="grid__item md--up--one-half md--up--text-align--right mt3 md--up--mt0 {% unless settings.cart_notes_enable %}right{% endunless %}">

                {%- if cart.cart_level_discount_applications != blank -%}
                <div class="grid--full cart__row--table">
                  <div class="cart__discounts">
                    {%- for discount_application in cart.cart_level_discount_applications -%}
                      <p class="color--primary-accent">
                        <span class="visually-hidden">{{ 'customer.order.discount' | t }}:</span><span class="mr1">{{- discount_application.title -}}</span>
                        <span class="order-discount order-di  scount--cart">-{{ discount_application.total_allocated_amount | money }}</span>
                      </p>
                    {%- endfor -%}
                  </div>
                </div>
                {%- endif -%}

                <div class="table full--w font-size--m mt1">
                  <div class="table-cell text-align--left md--up--text-align--right">
                    <p>{{ 'cart.general.subtotal' | t }}</p>
                  </div>
                  <div class="table-cell text-align--right">
                    <p>{{ cart.total_price | money }}</p>
                  </div>
                </div>

                {%- capture taxes_shipping_checkout -%}
                  {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url, link_class: 'link-underline link-underline--primary' }}
                  {%- elsif shop.taxes_included -%}
                    {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url, link_class: 'link-underline link-underline--primary' }}
                  {%- else -%}
                    {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                {%- endcapture -%}

                <p class="font-size--xs md--up--font-size--s mt1 mb3">
                  {{ taxes_shipping_checkout }}
                </p>

                <div class="grid grid--half-gutter mt1">
                  <div class="grid__item one-half">
                    <input type="submit" name="update" class="btn border--none p1 block full--w bg--transparent border--primary-text color--primary-text hv--border--primary-accent hv--primary-accent" value="{{ 'cart.general.update' | t }}">
                  </div>
                  <div class="grid__item one-half">
                    <input type="submit" name="checkout" class="btn border--primary-text p1 block full--w bg--primary-text color--primary-text--overlay hv--border--primary-accent hv--primary-accent--overlay hv-bg--primary-accent" value="{{ 'cart.general.checkout' | t }}">
                  </div>
                </div>


                {% if additional_checkout_buttons %}
                <div class="grid grid--half-gutter mt2">
                  <div class="grid__item text-align--right lg--up--one-half lg--up--push-one-half">
                    <div class="additional-checkout-buttons">
                      {{ content_for_additional_checkout_buttons }}
                    </div>
                  </div>
                </div>
                {% endif %}

              </div>
            </div>

          </div>
        </div>
      </form>
    {% else %}
      <h1>{{ 'cart.general.title' | t }}</h1>

      {% comment %}
      Cart empty state
      {% endcomment %}
      <div class="supports-cookies">
        <p>{{ 'cart.general.empty' | t }}</p>
        <p>{{ 'cart.general.continue_browsing_html' | t: section_color: section_color, link_url: routes.all_products_collection_url }}</p>
      </div>

      {% comment %}
      Cart no cookies state
      ---------------------
      Browser cookies are required to use the cart. If cookies aren't enabled in the
      browser a message is displayed prompting the user to enable them.
      {% endcomment %}
      <div class="supports-no-cookies">
        <p>{{ 'cart.general.cookies_required' | t }}</p>
      </div>
    {% endif %}

  </div>
</section>
