
{%- assign section_color = 'primary' -%}

{% paginate search.results by 12 %}

<div class="shopify-section">
  <section class="section-with-padding color--{{ section_color }}-text bg--{{ section_color }}-background">
    <div class="max-site-width px2 lg--up--px3">
      <div class="grid">

        <div class="grid__item lg--up--one-quarter pb3">
          <h1 class="font-size__heading">
            {% if search.performed %}
              {% if search.results_count == 0 %}
                {{ 'general.search.no_results_html' | t: terms: search.terms }}
              {% else %}
                {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
              {% endif %}
            {% else %}
              {{ 'general.search.title' | t }}
            {% endif %}
          </h1>
          <form action="{{ routes.search_url }}" method="get" class="input-group search lg--up--mt3" role="search">
            <label for="search" class="hide">{{ 'general.search.submit' | t }}</label>
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="py1 bg--transparent search__input input-group-field border--none border-bottom--primary-text font-size--m" aria-label="{{ 'general.search.placeholder' | t }}" data-search-input>
            <span class="input-group-btn search-btn">
              <button type="submit" class="block font-size--sm bg--transparent color--main border--none" aria-label="{{ 'general.search.submit' | t }}">
                {% render 'icon-search' %}
              </button>
            </span>
          </form>
        </div>

        <div class="grid__item lg--up--three-quarters">

          {% if search.performed %}

            <div class="grid grid--uniform mtn3">
              {% for item in search.results %}
              {% if item.object_type == 'product' %}
                <div class="grid__item md--dn--one-half lg--up--one-third mt3">
                  {% assign product = item %}
                  {%- render 'product-grid-item',
                      product: item,
                      section_color: section_color,
                  -%}
                </div>
              {% endif %}
              {% endfor %}
            </div>

            <div class="grid grid--uniform lg--up--mtn3">

              {% assign article_results = false %}
              {% assign page_results = false %}
              {% for item in search.results %}
                {% if item.object_type == 'article' %}
                  {% assign article_results = true %}
                {% endif %}
                {% if item.object_type == 'page' %}
                  {% assign page_results = true %}
                {% endif %}
              {% endfor %}

              {% if article_results %}
              <div class="grid__item md--up--one-half">
              <h2 class="font-size--ml lg--up--font-size--l  mt3 lg--up--mt4">{{ 'general.search.articles' | t }}</h2>
                {% for item in search.results %}
                  {% if item.object_type == 'article' %}
                  {% assign article = item %}
                    <a href="{{ article.url }}">
                      <div class="flex items--start  mt2">
                        <div class="one-third wd--one-quarter mr1">
                          {% unless article.image == blank %}
                            {% render 'responsive-image' with
                              image: article.image,
                              max_width: 2000,
                              max_height: 2000,
                              section_color: section_color,
                            %}
                          {% endunless %}
                          <noscript>
                            <img src="{{ article.image.src | img_url: 'large' }}" alt="{{ article.image.alt | escape }}" class="product__img">
                          </noscript>
                        </div>

                        <p class="flex--1 color--{{ section_color }}-text font-size__basic">{{ article.title }}</p>

                      </div>
                    </a>
                  {% endif %}
                {% endfor %}
              </div>
              {% endif %}

              {% if page_results %}
                <div class="grid__item md--up--one-half">
                  <h2 class="font-size--ml lg--up--font-size--l mt3  lg--up--mt4">{{ 'general.search.pages' | t }}</h2>

                  {% for item in search.results %}
                    {% if item.object_type == 'page' %}
                    <a href="{{ item.url }}">
                    <p class="flex--1 color--{{ section_color }}-text font-size__basic">{{ item.title }}</p>
                    </a>
                    {% endif %}
                  {% endfor %}

                </div>
              {% endif %}

            </div>

            {% if paginate.pages > 1 %}
              {% render 'pagination', section_color: section_color, paginate: paginate %}
            {% endif %}

          {% endif %}

        </div>
      </div>
    </div>
  </section>
</div>

{% endpaginate %}
